<div class="content-page">
  <nb-card>
    <nb-card-header>Dados do usuário</nb-card-header>
    <nb-card-body>
      <div class="full-name-inputs">
        <input type="text" nbInput fullWidth placeholder="Nome" />
        <input type="text" nbInput fullWidth placeholder="Sobrenome" />
      </div>
      <input type="password" nbInput fullWidth placeholder="Senha" />
      <div class="text-right">
        <button nbButton status="success" outline>
          Salvar
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
