<div class="content-page">
  <nb-card>
    <nb-card-header><h6>EDITAR PACIENTE</h6></nb-card-header>
    <nb-card-body>
      <div class="full-name-inputs">
        <input type="text" nbInput fullWidth placeholder="Faixa Etária" />
        <input type="text" nbInput fullWidth placeholder="Sexo" />
        <input type="text" nbInput fullWidth placeholder="Origem" />
        <input type="text" nbInput fullWidth placeholder="Situação" />
      </div>
      <input type="text" nbInput fullWidth placeholder="Endereço" />
      <div class="text-right">
        <button nbButton status="success" outline>
          Salvar
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
