<div class="content-page">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-lg-3">
          <h6 style="line-height: 2.5rem;">
            CHATS{{ totalRecords ? ": " + totalRecords : "" }}
          </h6>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <p-table
        #dataTable
        [value]="collection"
        selectionMode="single"
        [rows]="dataTableConfig.rowsPerPage"
        [rowsPerPageOptions]="dataTableConfig.rowsPerPageOptions"
        [paginator]="true"
        [pageLinks]="dataTableConfig.maxPageLinks"
        [loading]="isLoading"
        [responsive]="true"
        [rowHover]="true"
        [lazy]="true"
        [totalRecords]="totalRecords"
        [first]="dataTableConfig.firstRow"
        (onSort)="sortColumn($event)"
        (onPage)="goToPage($event)"
        [metaKeySelection]="false"
      >
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th>Dispositivo</th>
            <th>Mensagem</th>
            <th style="width: 18%;">Data de criação</th>
            <th style="width: 9%;">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" class="text-center">
            <td>{{ rowData.nome_dispositivo }}</td>
            <td>{{ rowData.texto }}</td>
            <td>{{ rowData.created_at | date: "dd/MM/y" }}</td>
            <td>
              <button
                id="view-button"
                class="btn btn-o-contrast btn-icon"
                title="Visualizar mensagens"
                routerLink="/pages/chat/{{ rowData.id_municipio }}/{{ rowData.id_dispositivo }}/messages"
              >
                <i class="far fa-eye"></i>
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <ng-container>
            <tr>
              <td [attr.colspan]="4">
                {{ dataTableConfig.emptyMessage }}
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </nb-card-body>
  </nb-card>
</div>
