<div class="content-page">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-lg-6" style="display: inline; vertical-align: bottom;">
          <h6 style="line-height: 2.5rem;">BOLETINS{{totalRecords ? (': ' + totalRecords) : '' }}</h6>
        </div>
        <div class="col-lg-6 text-right">
          <button id="add-button" routerLink="/pages/boletins/add" class="btn btn-primary btn-with-icon-contrast">
            <i class="ion-plus"></i> Adicionar boletim
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <p-table
        #dataTable
        [value]="collection"
        selectionMode="single"
        [rows]="dataTableConfig.rowsPerPage"
        [rowsPerPageOptions]="dataTableConfig.rowsPerPageOptions"
        [paginator]="true"
        [pageLinks]="dataTableConfig.maxPageLinks"
        [loading]="isLoading"
        [responsive]="true"
        [rowHover]="true"
        [sortField]="dataTableConfig.sortField"
        [sortOrder]="dataTableConfig.sortOrder"
        [lazy]="true"
        [totalRecords]="totalRecords"
        [first]="dataTableConfig.firstRow"
        (onSort)="sortColumn($event)"
        (onPage)="goToPage($event)"
        (onRowSelect)="onRowSelect($event.data)"
        [metaKeySelection]="false"
      >
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th>Data</th>
            <th>Suspeitos</th>
            <th>Confirmados</th>
            <th>Óbitos</th>
            <th>Descartados</th>
            <th>Curados</th>
            <th>Óbitos Suspeitos</th>
            <th>Qtd. Fiocruz</th>
            <th>Qtd. Testagem</th>
            <th>Qtd. Leitos UTI</th>
            <th>Qtd. Leitos UTI Ocupados</th>
            <th>índice Isolamento Social</th>

            <th class="table-actions">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" class="text-center">
            <td>{{ rowData.data | date: "dd/MM/y" }}</td>
            <td>{{ rowData.quantidade_suspeitos }}</td>
            <td>{{ rowData.quantidade_confirmados }}</td>
            <td>{{ rowData.quantidade_obitos }}</td>
            <td>{{ rowData.quantidade_descartados }}</td>
            <td>{{ rowData.quantidade_curados }}</td>
            <td>{{ rowData.quantidade_obitos_suspeitos }}</td>
            <td> {{ rowData.quantidade_confirmados_previsto_fiocruz }} </td>
            <td> {{ rowData.quantidade_testagem }} </td>
            <td> {{ rowData.quantidade_leitos_uti }} </td>
            <td> {{ rowData.quantidade_leitos_uti_ocupados }} </td>
            <td> {{ rowData.indice_isolamento_social }} </td>
            <td>
              <button
                id="edit-button"
                routerLink="/pages/boletins/{{ rowData.id }}/edit"
                class="btn btn-o-contrast btn-icon"
                title="Editar"
              >
                <i class="ion-edit"></i>
              </button>
              <button
                id="delete-button"
                class="btn btn-o-danger btn-icon"
                title="Excluir"
                (click)="excluir(rowData)"
              >
                <i class="ion-trash-a"></i>
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <ng-container>
            <tr>
              <td [attr.colspan]="8">
                {{ dataTableConfig.emptyMessage }}
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </nb-card-body>
  </nb-card>
</div>
