<div class="content-page">
  <nb-card>
    <nb-card-header><h6>DADOS DO PACIENTE</h6></nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-id-card-alt"></i>
            <p>
              Número da notificação (SINAN)<span>
                {{
                  resolvedPaciente.numero_notificacao
                    ? resolvedPaciente.numero_notificacao
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-lungs-virus"></i>
            <p>
              Tipo da síndrome<span>
                {{
                  resolvedPaciente.tipo ? resolvedPaciente.tipo : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-clinic-medical"></i>
            <p>
              Condição<span>
                {{
                  resolvedPaciente.condicao
                    ? resolvedPaciente.condicao
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-portrait"></i>
            <p>
              Faixa etária<span>
                {{
                  resolvedPaciente.faixa_etaria
                    ? resolvedPaciente.faixa_etaria
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-id-card"></i>
            <p>
              Idade<span>
                {{
                  resolvedPaciente.idade ? resolvedPaciente.idade : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-city"></i>
            <p>
              Residência<span>
                {{
                  resolvedPaciente.residencia
                    ? resolvedPaciente.residencia
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-map-marker-alt"></i>
            <p>
              Endereço<span>
                {{
                  resolvedPaciente.endereco
                    ? resolvedPaciente.endereco
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-venus-mars"></i>
            <p>
              Sexo<span>
                {{
                  resolvedPaciente.sexo
                    ? resolvedPaciente.sexo === "F"
                      ? "Feminino"
                      : "Masculino"
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-notes-medical"></i>
            <p>
              Status do exame<span>
                {{
                  resolvedPaciente.status_exame
                    ? resolvedPaciente.status_exame
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-virus"></i>
            <p>
              Agente patógeno<span>
                {{
                  resolvedPaciente.agente_patogeno
                    ? resolvedPaciente.agente_patogeno
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-calendar-plus"></i>
            <p>
              Data da coleta<span>
                {{
                  resolvedPaciente.data_coleta
                    ? (resolvedPaciente.data_coleta | date: "dd/MM/y")
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="far fa-calendar-alt"></i>
            <p>
              Data de alta ou óbito<span>
                {{
                  resolvedPaciente.data_alta_obito
                    ? (resolvedPaciente.data_alta_obito | date: "dd/MM/y")
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-calendar-day"></i>
            <p>
              Data da notificação<span>
                {{
                  resolvedPaciente.data_notificacao
                    ? (resolvedPaciente.data_notificacao | date: "dd/MM/y")
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="far fa-calendar-check"></i>
            <p>
              Data da importação<span>
                {{
                  resolvedPaciente.created_at
                    ? (resolvedPaciente.created_at | date: "dd/MM/y")
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col col-auto col-sm">
          <div class="divisao card-divisao">
            <i class="fas fa-calendar-check"></i>
            <p>
              Data da última atualização<span>
                {{
                  resolvedPaciente.updated_at
                    ? (resolvedPaciente.updated_at | date: "dd/MM/y")
                    : "Indefinido"
                }}</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button
          id="back-button"
          routerLink="/pages/pacientes/list"
          type="button"
          class="btn btn-success btn-with-icon btn-form"
        >
          <i class="fas fa-angle-left"></i> VOLTAR
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
