body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: #4d4d4d;
}

img {
  transition: all .2s linear;
}

.destaque {
  background: #0C351E;
  background-image: url(/assets/images/index/background_covid.jpg);
  position: relative;

}

.destaque:after {
  content: '';
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  background-position: top center;
  background-repeat: repeat-x;
  padding-bottom: 1px;
  box-shadow: 0 -50px 0 #fff inset;
}

.destaque::before {
  content: '';
  width: 65%;
  height: 65%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: .06;
  transform: rotate(-20deg);
}

.logo-nav {
  max-width: 220px;
}

.jumbotron {
  background: transparent;
  padding: 120px 0 100px 0;
}

.jumbotron>.container {
  margin-bottom: -200px;
}

.jumbotron.sobre .container {
  margin-bottom: 40px !important;
}

.jumbotron h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 64px;
  margin-top: 0;
}

.jumbotron p {
  color: #ffffff;
  font-size: 20px;
  margin: 10px 0 30px 0;
}

.jumbotron img {
  margin-right: 10px;
}

.navbar .btn-primary {
  border-color: #ffffff;
  border-width: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .btn-primary:hover {
  background-color: #ffffff;
  color: #e55000;
}

.descripiton {
  background: #ffffff;
}

.descripiton h1 {
  color: #317058;
}

.navbar a {
  color: #ffffff;
}

.btn-primary {
  background-color: #317058;
  border-radius: 100px;
  border-style: none;
  padding: 10px 40px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #48876D;
}

.btn-primary:focus {
  background-color: #48876D;

}

.btn-secondary {
  border-radius: 100px;
  padding: 10px 30px;
}

.btn-primary.menu {
  padding: 10px 30px;
}

.navbar {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.1);

}

.navbar-nav {
  width: 100%;
  justify-content: center;
}

.mobile-01 {
  transform: rotate(12deg);
  position: relative;
  top: -50px;
  z-index: 5;
}

.mobile-01:hover {
  transform: rotate(0deg);
}

.mobile-02 {
  transform: rotate(0deg);
  position: relative;
  z-index: 5;
}

.mobile-02:hover {
  transform: rotate(-8deg);
}

.contect-text {
  padding: 0px 0;
}

.contect-text .row {
  padding: 50px 0;
}

h1 {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

.nav-item .nav-link {
  text-transform: uppercase;
  margin-right: 30px;
  cursor: pointer;
}

.nav-item .nav-link i {
  margin-right: 8px;
  position: relative;
  top: 1px;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 10px;
  background: #0C351E;
}

.navbar-footer a {
  color: #fff;
  font-size: 12px;
}

.descripiton-02 {
  background: #225541;
  color: #fff;
}

.descripiton-02 a {
  color: #fff;
  text-decoration: underline;
}

.descripiton-02.sobre {
  background: #ffffff;
}

.container {
  max-width: 980px;
}

.loader {
  max-width: 350px;
  display: none;
  margin: 15px auto;
  text-align: center;
}

.error {
  display: none;
  margin: 40px auto;
  padding: 30px;
  text-align: center;
}

.error h3 {
  color: red;
  font-weight: 600;
}

.error i {
  color: red;
  font-size: 50px;
  margin: 10px 0 30px 0;
}

.sucesso {
  display: none;
  margin: 40px auto;
  padding: 30px;
  text-align: center;
}

.sucesso h3 {
  color: #13c04d;
  font-weight: 600;
}

.sucesso i {
  color: #13c04d;
  font-size: 50px;
  margin: 10px 0 30px 0;
}

.navbar-toggler i {
  color: #ffffff;
  font-size: 32px;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-cover {
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  border-radius: 10px;
}

.padding-bottom {
  padding-bottom: 40px;
}

@media screen and (max-width: 1100px) {

  .mobile-01,
  .mobile-02 {
    transform: rotate(0);
  }

  .destaque {
    background: #0C351E;
  }

  .descripiton {
    padding: 0px;
    background-size: auto;
  }

  .img-gallery {
    display: unset;

    justify-content: space-around;
    align-items: center;
  }

}

@media screen and (max-width: 992px) {

  .mobile-01,
  .mobile-02 {
    transform: rotate(0);
    max-width: 320px;
    margin: 30px auto !important;
    display: block;
    top: 0;
    float: none !important;
  }

  .navbar .btn-primary {
    display: none;
  }

  .container {
    padding: 80px 40px;
  }

  .jumbotron {
    padding: 0 0 50px 0;
  }

  .jumbotron>.container {
    margin-bottom: -200px;
  }

}

@media screen and (max-width: 520px) {
  .navbar {
    padding: 25px;
  }

  .logo-nav {
    max-width: 180px;
  }

  .container {
    padding: 50px 25px;
  }

  .jumbotron h1 {
    font-size: 42px;
  }

  .jumbotron a>img {
    display: block;
    margin: 0 auto 20px auto;
  }

}
