<section class="destaque">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngTemplateOutlet="navBar"></ng-container>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Rede Combate coronavírus</h1>
          <p>Uma plataforma digital voluntária dedicada ao enfrentamento da pandemia de COVID-19 no Brasil.<br><br>
            <b>Prefeitura:</b> faça parte da nossa rede e utilize nossas ferramentas computacionais e de inteligência espacial<br><br>
            <b>Munícipe:</b> baixe o aplicativo para acompanhar informações e gráficos relacionados ao seu município</p>
          <a href="https://play.google.com/store/apps/details?id=com.institutosoma.mobile_covid"><img src="/assets/images/index/google-play-badge.png" width="210"></a>
          <a href="https://apps.apple.com/us/app/id1507195282"><img src="/assets/images/index/bt-dl-appstore.svg" width="164"></a>
        </div>
        <div class="col-md-5">
          <img src="/assets/images/index/mobile-01.png" width="370" class="mobile-01 float-right">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="descripiton sobre-div">
  <div class="container contect-text">
    <div class="row align-items-center">
      <!-- Seção Missao -->
      <div #missao class="col-md-12 padding-bottom" id="missao">
        <h1>Nossa Missão</h1>
        <p class="text-justify">
          A iniciativa para desenvolvimento da plataforma tecnológica Combate Coronavírus é voluntária e sem fins
          lucrativos,
          e todos os recursos estão (e sempre estarão) disponíveis gratuitamente.</p>
        <p class="text-justify">
          Nossa missão é aplicar nossa tecnologia para ajudar a salvar vidas, oferecendo ferramentas de
          processamento
          de dados e
          inteligência espacial aos municípios brasileiros para apoio no combate à pandemia de COVID-19.
        </p>
        <p class="text-justify">Mais informações pelo e-mail <a
            href="mailto:miguel.axcar@gmail.com?Subject=Inclusão de município na plataforma">miguel.axcar@gmail.com</a>
        </p>
      </div>

      <!-- Precisamos de voluntários -->
      <div class="col-md-12 padding-bottom">
        <h1>Precisamos de voluntários!</h1>
        <p class="text-justify">
          Use seus conhecimentos técnicos para ajudar os municípios a enfrentarem a pandemia de COVID-19!
          Desenvolvemos uma plataforma digital voluntária dedicada ao enfrentamento da pandemia de COVID-19 no Brasil, e precisamos de técnicos voluntários, nas seguintes áreas:
        </p>
          <li>API - PHP/Laravel</li>
          
          <li>WEB - Angular 9</li>
          <li>MOBILE - Flutter/Dart</li>
          <li>DEVOPS - Amazon, GitLab, CI/CD</li>
          <li>BANCO - Postgres com PostGIS</li>
          <br>
        <p class="text-justify">
          Atualmente a plataforma está sendo usada por municípios da Região Administrativa de Bauru, mas é possível incluir qualquer município brasileiro.
          Pode ajudar?</p>
        <p class="text-justify">
          Só enviar uma mensagem para miguel.axcar@gmail.com dizendo como pode apoiar este projeto.
        </p>

        <p class="text-justify">Os repositórios estão aqui <a
          href="https://gitlab.com/combate-corona-virus">gitlab.com/combate-corona-virus</a>
      </p>
      </div>      

       <!--    Seção como funciona              -->
       <div class="col-md-12 padding-bottom" id="funcionamento">
        <h1>Como funciona a plataforma Combate coronavírus?</h1>
        <p>
        Baseado em 3 pilares, o funcionamento da plataforma Combate Coronavírus compreende a alimentação dos dados por parte das prefeituras e
        órgãos oficiais, o processamento das informações em ferramentas de inteligência espacial para uso no gerenciamento e elaboração de estratégias
        de enfrentamento e sua comunicação para a população através do app para celular com informações oficiais e atualizadas sobre a pandemia COVID-19. </p>
       <img src="/assets/images/index/combatecoronavirus_funcionamento.jpg" width=100% >
      </div>

      <!-- Seção Como Participar -->
      <div #participar class="col-md-12 padding-bottom" id="participar">
        <h1>Como participar?</h1>
        <h4>Prefeituras municipais</h4>
        <p class="text-justify">
          Oferecemos uma plataforma web onde prefeituras municipais podem submeter dados
          de vigilância epidemiológica suprimindo informações pessoais de pacientes, e a partir destes
          dados conseguimos gerar indicadores, análises, mapas, gráficos e projeções úteis para a elaboração
          e suporte de estratégias locais para combate à pandemia. Para participar envie um e-mail para
          <a href="mailto:miguel.axcar@gmail.com?Subject=Inclusão de município na plataforma">miguel.axcar@gmail.com</a>
          utilizando seu e-mail oficial e retornaremos seu acesso à plataforma.
        </p>
        <div class="col-md-12 text-center">
          <div class="img-gallery">
            <img src="/assets/images/index/web_combatecoronavirus1.png" width="300" class="img-cover">
            <img src="/assets/images/index/web_combatecoronavirus3.png" width="300" class="img-cover">
            <img src="/assets/images/index/web_combatecoronavirus4.png" width="300" class="img-cover">
          </div>
        </div>
        <br>
        <br>
        <h4>Munícipes</h4>
        <p class="text-justify">
          <a href="https://play.google.com/store/apps/details?id=com.institutosoma.mobile_covid">Baixe o aplicativo </a> para ter acesso a informações de seu município fornecidas pela própria Prefeitura Municipal.
        </p>
        <div class="col-md-12 text-center">
          <div class="img-gallery">
            <img src="/assets/images/index/app_combatecoronavirus1.jpg" width="200" class="mobile-02">
            <img src="/assets/images/index/app_combatecoronavirus2.jpg" width="200" class="mobile-02">
            <img src="/assets/images/index/app_combatecoronavirus3.jpg" width="200" class="mobile-02">
            <img src="/assets/images/index/app_combatecoronavirus4.jpg" width="200" class="mobile-02">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- destaque inferior -->
<div class="descripiton-02">
  <div class="container contect-text">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <h1>Rede Combate coronavírus</h1>
        <p>Uma plataforma digital para prefeituras e munícipes dedicada ao enfrentamento da pandemia de COVID-19 no Brasil.</p>
        <p><i>“Trabalho é amor tornado visível.” (Khalil Gibran)</i></p>
        <a href="https://play.google.com/store/apps/details?id=com.institutosoma.mobile_covid"><img src="/assets/images/index/google-play-badge.png" width="200"></a>
        <a href="https://apps.apple.com/us/app/id1507195282"><img src="/assets/images/index/bt-dl-appstore.svg" width="164"></a>
      </div>
    </div>
  </div>
</div>

<footer>
  <ul class="navbar-footer">
    <ng-container *ngTemplateOutlet="navBar"></ng-container>
  </ul>
</footer>

<ng-template #navBar>
  <li class="nav-item">
    <a class="nav-link" (click)="animatedScroll('missao')">
      <i class="fas fa-comment-alt"></i> Nossa Missão
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="animatedScroll('funcionamento')">
      <i class="fas fa-check-circle"></i> Como funciona
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="animatedScroll('participar')">
      <i class="fas fa-user"></i> Como participar
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pages">
      <i class="fas fa-lock"></i> Acesso de prefeituras
    </a>
  </li>
</ng-template>
