@import '../../@theme/styles/themes';

@include nb-install-component() {
  
  #map {
    width: 100%;
    height: calc(100vh - 76px);
  }  

  .indicador-posicao-control {
    background: none;
    left: 1.6em;
    top: 10em;

    &.inactive{
      button {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    button {
      margin-top: 5px;
      height: 35px;
      width: 120px;
      font-size: 19px;
      padding: 4px 2px 2px 2px;
      background: rgba(black, .7);
    }
  }

  .indicador-info-control {
    background: rgba(0, 0, 0, 0.5);
    left: 4.6em;
    padding: 10px;
    display: flex;
    align-items: center;

    > div {
      margin-right: 7px;
      color: #fff;
    }
  }

  .indicador-polygon-control {
    background: none;
    top: 14em;
    left: 1.6em;

    &.inactive{
      button {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    button {
      margin-top: 5px;
      height: 35px;
      width: 35px;
      font-size: 19px;
      padding: 4px 2px 2px 2px;
      background: rgba(black, .7);
      border-radius: 999px;
    }
  }

  .indicador-line-control {
    background: none;
    top: 17em;
    left: 1.6em;

    &.inactive{
      button {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    button {
      margin-top: 5px;
      height: 35px;
      width: 35px;
      font-size: 19px;
      padding: 4px 2px 2px 2px;
      background: rgba(black, .7);
      border-radius: 999px;
    }
  }

  .indicador-clear-control {
    background: none;
    top: 20em;
    left: 1.6em;

    &.inactive{
      button {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    button {
      margin-top: 5px;
      height: 35px;
      width: 35px;
      font-size: 19px;
      padding: 4px 2px 2px 2px;
      background: rgba(black, .7);
      border-radius: 999px;
    }
  }

  .download-png-control {
    background: none;
    top: 23em;
    left: 1.6em;

    &.inactive{
      button {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    button {
      margin-top: 5px;
      height: 35px;
      width: 35px;
      font-size: 19px;
      padding: 4px 2px 2px 2px;
      background: rgba(black, .7);
      border-radius: 999px;
    }
  }

  .ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
  }
  .ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
  }
  .ol-tooltip-static {
    background-color: #317058;
    color: black;
    border: 1px solid white;
  }
  .ol-tooltip-measure:before,
  .ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }
  .ol-tooltip-static:before {
    border-top-color: #317058;
  }  
}
