<div class="content-page">
  <nb-card>
    <nb-card-header>Dados do município</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form" autocomplete="off">
        <div class="row">
          <div class="col-md soma-form">
            <label>Nome </label>
            <input
              nbInput
              fullWidth
              class="form-control"
              type="text"
              [value]="nomePrefeitura"
              [disabled]="true" 
            />
          </div>
          <div class="col-md soma-form">
            <label>Logo <i
              nbTooltip="A imagem deve ter o fundo transparente ou branco, altura mínima de 100 pixels e largura máxima de 400 pixels. Lembre-se que este é o logo que o munícipe irá ver no aplicativo mobile como identificador da prefeitura."
              nbTooltipStatus="info"
              class="fas fa-info-circle"
            ></i></label>
            <p-fileUpload
              #uploader
              [multiple]="false"
              accept="image/*"
              maxFileSize="1000000"
              [showUploadButton]="false"
              [showCancelButton]="false"
              [chooseLabel]="'Selecionar Arquivo'"
              [uploadLabel]="'Enviar'"
              (onSelect)="onSelectImage($event.files)"
            >
            </p-fileUpload>
          </div>
          <div *ngIf="url" class="col-md soma-form">
          <p>Logo Atual </p>
          <img [src]="url" alt="">
        </div>
        </div>

        <div class="row">
          <div class="col-md soma-form">
            <label>Informações de contato </label>
            <textarea
              rows="7"
              formControlName="texto_contato"
              nbInput
              fullWidth
              shape="round"
              [status]="
                form.controls.texto_contato.invalid &&
                (form.controls.texto_contato.dirty || form.controls.texto_contato.touched)
                  ? 'danger'
                  : 'basic'
              "
            ></textarea>
          </div>
        </div>

        <div class="text-right">
          <button
            id="save-button"
            type="button"
            (click)="onSubmit()"
            class="btn btn-success btn-with-icon btn-form"
            >
            <i class="fas fa-save"></i> Salvar
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
