<div class="content-page">
    <button class="float-right" nbButton status="primary" (click)="goToCreateDenuncia()">
        Adicionar Denúncia
    </button>
    <br>
    <br>
    <br>
    <p-table
    [value]="denuncias"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,25,50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Título</th>
                <th>Endereço</th>
                <th>Data de Criação</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-denuncia>
            <tr>
                <td>{{denuncia.titulo}}</td>
                <td>{{denuncia.endereco}}</td>
                <td>{{denuncia.data_criacao}}</td>
                <td>
                    <button  (click)="goToEditDenuncia(denuncia.id)" pButton type="button" class="ui-button-secondary" icon="pi pi-pencil"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
