<div class="content-page">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header class="topo-tutorial">
          <div class="col-xl-9">
            <h1>Seja bem-vinda(o) à <br />rede Combate coronavírus</h1>
            <h2>
              Uma plataforma digital voluntária dedicada ao <br />
              enfrentamento da pandemia de COVID-19 no Brasil.
            </h2>
          </div>
        </nb-card-header>

        <div class="row">
          <div class="col inicial-final">
            <p>
              Primeiramente receba o nosso parabéns por estar trabalhando para
              reduzir o impacto dessa pandemia.
            </p>
            <p>
              Desejamos que continue com força e coragem, e estaremos à
              disposição neste e-mail caso tenha qualquer dúvida ou
              consideração.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col inicial-final">
            <h3>Nossa missão</h3>
            <p>
              Nossa principal missão é usar nossa tecnologia para ajudar a
              salvar vidas, oferecendo ferramentas de processamento de dados e
              inteligência espacial aos municípios brasileiros para apoio no
              combate à pandemia de COVID-19.
            </p>
            <p>
              Tudo aconteceu muito rápido, então tivemos pouco tempo para o
              desenvolvimento dessa primeira versão da plataforma. Mas já temos
              algumas funcionalidades importantes disponíveis neste momento, e
              uma lista enorme de novas funcionalidades para desenvolver, sempre
              pensando em oferecer dados para apoiar estratégias locais das
              prefeituras.
            </p>
            <p>
              Para as prefeituras municipais oferecemos uma plataforma de
              análise de dados na web, onde é possível submeter dados de
              vigilância epidemiológica (suprimindo dados pessoais de pacientes)
              para processamento computacional, permitindo gerar indicadores,
              análises, mapas de calor, gráficos e projeções que são utilizados
              para apoiar estratégias locais.
            </p>
            <p>
              Para a população em geral oferecemos um aplicativo, onde é
              possível acompanhar boletins epidemiológicos do município,
              gráficos indicativos da epidemia, mapas de calor de incidência no
              município e outras informações relevantes.
            </p>
            <p>Para os munícipes baixarem o aplicativo:</p>
            <p>
              Versão para Google Android:<br />
              <a
                href="https://play.google.com/store/apps/details?id=com.institutosoma.mobile_covid"
                target="_blank"
              >
                https://play.google.com/store/apps/details?id=com.institutosoma.mobile_covid</a
              >
            </p>
            <p>
              Versão para Apple iOS<br />
              <a
                href="https://apps.apple.com/us/app/id1507195282"
                target="_blank"
              >
                https://apps.apple.com/us/app/id1507195282</a
              >
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col inicial-final">
            <h3>Contribua com suas ideias!</h3>
            <p>
              Fique à vontade caso queira sugerir qualquer nova funcionalidade,
              cálculo, indicador, análise, mapa, gráfico ou projeções - iremos
              receber seu pedido com carinho, avaliar a possibilidade de
              desenvolvimento e eventualmente incluir na lista de futuras
              entregas.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col inicial-final">
            <h3>Passo a passo para utilização da plataforma</h3>
            <p>
              A plaraforma Combate coronavírus é simples e intuítiva em sua
              utilização, porém para que tudo funcione, é necessário seguir
              rigorozamente os quatro passos a seguir:
            </p>
          </div>
        </div>

        <div class="row item-tutorial align-items-center">
          <div class="col-xl-12">
            <h4>1) Atualize os dados do seu município</h4>
            <p>
              Acesse o link “Dados do município” no menu esquerdo da aplicação.
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-menu-dados-municipio.png"
              width="300px"
            />

            <p>
              Faça upload do logo ou brasão da prefeitura. Além de identificar o
              seu município dentro da plataforma, é essa identificação que o
              munícipe verá ao acessar o aplicativo.
            </p>
            <p>
              A imagem deve ter o fundo transparente ou branco, altura mínima de
              100 pixels e largura máxima de 400 pixels. Lembre-se que este é o
              logo que o munícipe irá ver no aplicativo mobile como
              identificador da prefeitura.
            </p>
            <p>
              Altere também as informações de contato, que são apresentadas ao
              munícipe ao clicar no link “Informações”, no final da página,
              seção “Contato da Prefeitura”.
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-tela-dados-municipio-aplicativo.png"
              width="400px"
            />
          </div>
        </div>

        <div class="row item-tutorial align-items-center">
          <div class="col-xl-12">
            <h4>2) Atualize o Boletim</h4>
            <p>
              Acesse o link “Boletins” no menu esquerdo e inclua o boletim
              epidemiológico do dia.
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-menu-boletins.png"
              width="300px"
            />
            <p>
              A função “boletins” fornece dados para três funções no aplicativo
              para dispositivos móveis:
            </p>
            <p><b>a) Cálculo do IPR municipal</b></p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-indicativo-ipr.png"
              width="400px"
            />

            <p>
              <b>b) Apresentar o boletim epidemiológico para os munícipes</b>
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-boletim-aplicativo.png"
              width="400px"
            />
            <p><b>c) Cálculo de indicadores do município</b></p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-indicadores.png"
              width="400px"
            />

            <br />
            <p>
              <b>IMPORTANTE:</b> o aplicativo não irá apresentar informações de
              boletins caso haja mais de 48 horas de desatualização. Os dados do
              último boletim sempre são os apresentados ao munícipe pelo
              aplicativo.
            </p>
          </div>
        </div>

        <div class="row item-tutorial align-items-center">
          <div class="col-xl-12">
            <h4>3) Planilha de pacientes</h4>
            <p>
              Precisamos processar os dados dos pacientes sob responsabilidade
              do seu município para gerar nossas análises, gráficos e
              informações.
            </p>
            <p>Não se preocupe, nenhum dado confidencial é necessário.</p>
            <p>A planilha de pacientes tem três funções no aplicativo:</p>

            <p>
              <b
                >a) Gráfico de evolução do número de casos, baseado no campo
                “data de notificação”</b
              >
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-grafico-evolucao.png"
              width="400px"
            />

            <p>
              <b
                >b) Gráfico de óbitos por faixa etária, baseado no campo “faixa
                etária” da planilha de pacientes.</b
              >
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-grafico-faixa-etaria.png"
              width="400px"
            />

            <p>
              <b
                >c) Mapa de calor incluindo incidência geográfica dos casos. Por
                este motivo é importante preencher o campo “endereço”
                corretamente na planilha de pacientes.</b
              >
            </p>

            <p>
              <img
                class="imagem-tutorial"
                src="/assets/images/tutorial/combate-coronavirus-mapa-calor.png"
                width="400px"
              />
            </p>

            <p>
              Para importar pacientes acesse o link “Pacientes” no menu
              esquerdo.
            </p>

            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-menu-pacientes.png"
              width="300px"
            />
            <br /><br />
            <p>Clique sobre o botão “Baixar modelo”.</p>

            <img
              src="/assets/images/tutorial/combate-coronavirus-botao-baixar-planilha.png"
              width="200px"
            /><br /><br />

            <p>
              Você precisará incluir todos os pacientes nessa planilha, e
              atualizá-la a medida que receba novos pacientes ou que a condição
              destes pacientes seja alterada.
            </p>
            <p>
              Mantenha essa planilha sempre atualizada no seu computador. Sempre
              que quiser é possível importar a planilha novamente pela tela de
              importação, e nosso sistema irá reconhecer automaticamente,
              baseado no código SINAN, alterações de estado do paciente.
            </p>

            <p><b>Instruções para o preenchimento da planilha</b></p>

            <p>
              <b>IMPORTANTE: </b>Nossa rotina computacional de importação está
              preparada para importar apenas este modelo de planilha, portanto
              não é permitido:
            </p>
            <ul>
              <li>Incluir/alterar/excluir colunas</li>
              <li>
                Preencher campos não utilizando tipos possíveis, se for o caso
              </li>
              <li>Criar novas abas</li>
            </ul>

            <p>
              Cores de linhas, tipos e tamanhos de fontes não afetam nossa
              rotina de importação, fique à vontade para utilizar caso
              necessário.
            </p>
            <p>
              Os campos foram extraídos da ficha de notificação do Ministério da
              Saúde, mas estamos à disposição caso tenha qualquer dúvida.
            </p>
            <p>Abaixo instruções sobre como preencher cada campo:</p>

            <!--lista de instruções-->
            <b>Tipo (obrigatório)</b>
            <ul>
              <li>
                Escolher apenas dentre os tipos possíveis
                <ul>
                  <li>SRAG (Síndrome Respiratória Aguda Grave) ou</li>
                  <li>Síndrome gripal</li>
                </ul>
              </li>
            </ul>

            <b>Núm. de notificação - SINAN (obrigatório)</b>
            <ul>
              <li>
                SINAN significa Sistema de Informação de Agravos de Notificação
              </li>
              <li>Este campo é controlado pelo Ministério da Saúde</li>
              <li>Preencher com o número de notificação (SINAN) do paciente</li>
            </ul>

            <b>Endereço completo (obrigatório)</b>
            <ul>
              <li>Preencher com o endereço completo do paciente</li>
              <li>
                Este campo é importante para a espacialização dos casos,
                permitindo a geração de mapas, análises de incidência e futuras
                análises epidemiológicas
              </li>
              <li>
                Caso o paciente não seja morador do município deixe este campo
                em branco
              </li>
            </ul>

            <b>Residência (obrigatório)</b>
            <ul>
              <li>Preencher com o nome do município de residência</li>
              <li>Preencher com o nome do país quando do exterior</li>
            </ul>

            <b>Data da notificação (obrigatório)</b>
            <ul>
              <li>
                Preencher com a data de notificação ao Ministério da Saúde
              </li>
              <li>Formato DD/MM/AAAA</li>
            </ul>

            <b>Sexo (obrigatório)</b>
            <ul>
              <li>Escolher apenas entre os tipos possíveis - "F" ou "M"</li>
            </ul>

            <b>Idade (opcional)</b>
            <ul>
              <li>Preencher com a idade do paciente</li>
              <li>
                Utilizar apenas números, indicando anos completos. Exemplos:
                <ul>
                  <li>1 ano e três meses - preencher o campo como 1</li>
                  <li>09 meses - preencher o campo como 0</li>
                  <li>62 anos e 07 meses - preencher o campo como 62</li>
                </ul>
              </li>
            </ul>

            <b>Faixa etária (obrigatório)</b>
            <ul>
              <li>Escolher apenas entre os tipos possíveis</li>
            </ul>

            <b>Condição do paciente (obrigatório)</b>
            <ul>
              <li>
                Escolher dentre os tipos possíveis
                <ul>
                  <li>"Alta - Liberado do isolamento"</li>
                  <li>"Alta - Isolamento social"</li>
                  <li>"Em acompanhamento - Estável"</li>
                  <li>"Em acompanhamento - Grave"</li>
                  <li>"Óbito"</li>
                </ul>
              </li>
            </ul>

            <b>Data do óbito ou alta (obrigatório)</b>
            <ul>
              <li>Preencher com a data de óbito ou alta, se disponível</li>
              <li>Formato DD/MM/AAAA</li>
            </ul>

            <b>Status do exame (obrigatório)</b>
            <ul>
              <li>
                Escolher dentre os tipos possíveis
                <ul>
                  <li>“Coletado" (Aguardando resultado)</li>
                  <li>"Concluído" (Já tem o resultado do exame)</li>
                </ul>
              </li>
            </ul>

            <b>Data da coleta (opcional)</b>
            <ul>
              <li>Preencher com a data de coleta do exame</li>
              <li>Formato DD/MM/AAAA</li>
            </ul>

            <b>Agente patógeno (obrigatório)</b>
            <ul>
              <li>
                Escolher dentre os tipos possíveis
                <ul>
                  <li>"COVID19"</li>
                  <li>"Influenza H1N1"</li>
                  <li>"Influenza H3”</li>
                  <li>"Influenza B"</li>
                  <li>“Influenza não subtipada"</li>
                  <li>"SRAG não especificado"</li>
                  <li>"SG não especificado"</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="row item-tutorial align-items-center">
          <div class="col-xl-12">
            <h4>4) Mensagens de munícipes</h4>
            <p>
              O aplicativo disponibiliza uma funcionalidade “Fale com a
              prefeitura” que exibe uma tela de chat.
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-menu-aplicativo.png"
              width="400px"
            />
            <p>
              As mensagens enviadas pelos usuários podem ser acessadas e devem
              ser respondidas pelo link “Mensagens” no menu esquerdo.
            </p>
            <img
              class="imagem-tutorial"
              src="/assets/images/tutorial/combate-coronavirus-menu-mensagens.png"
              width="300px"
            />
          </div>
        </div>

        <div class="row">
          <div class="col inicial-final">
            <h3>Pronto!</h3>
            <p>
              A partir das informações carregadas são gerados os indicadores e
              gráficos exibidos na página de indicadores acessada pelo menu
              lateral.
            </p>
            <p>
              A informação de cada paciente é automaticamente espacializada
              resultando em um mapa interativo também disponível no menu lateral
              com diversas camadas de informação para apoiar as decisões
              estratégicas da prefeitura no enfrentamento a pandemia de
              COVID-19.
            </p>
            <p>
              Com as informações atualizadas, os munícipes têm acesso através do
              aplicativo Combate coronavírus aos boletins epidemiológicos,
              gráficos e mapa de distribuição geográfica dos casos no município,
              sempre respeitado o sigilo e segurança dos pacientes.
            </p>
            <p>
              Esse é um canal direto e efetivo da prefeitura com os munícipes.
            </p>
            A utilização da plataforma simples e rápida.
          </div>
        </div>

        <div class="row">
          <div class="col inicial-final">
            <p>
              A utilização da plataforma simples e rápida. Mas fique tranquilo,
              caso tenha alguma dúvida ou questionamento envie um e-mail para
              <a href="mailto:miguel.axcar@gmail.com"
                >miguel.axcar@gmail.com</a
              >
              que entraremos em contato o mais rápido possível.
            </p>
          </div>
        </div>
      </nb-card>
    </div>
  </div>
</div>
