@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


h1{
  color: #ffffff;
  font-size:48px ;
  line-height: normal;
}
h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;

}
h3 {
  font-size: xx-large;
}


a {
  font-weight: bold;
  color: #5297BE;
}

p{
  line-height: 150%;
}

.content-page {
  padding: 16px;

}

.topo-tutorial{
  background-color: #317058;
  background-image: url("assets/images/index/background_covid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  padding-top: 40px;
  padding-left: 40px;
  
}

.item-tutorial{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
  
}
.inicial-final {
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.icone-tutorial{
  width: 200px;
  text-align: center;
}

.imagem-tutorial{
  border-radius: 5px;
  border-style: solid;
  border-color: #999999;
  border-width: 1px;

  margin-bottom: 40px;
  @media (max-width: 700px) {
    width: 100%;
  }
  
}


