<div class="content-page">
  <nb-card>
    <nb-card-header><h6>IMPORTAR PLANILHA DE PACIENTES</h6></nb-card-header>
    <nb-card-body>
      <p-fileUpload
        #uploader
        [multiple]="false"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        maxFileSize="1000000"
        [showUploadButton]="false"
        [showCancelButton]="false"
        [chooseLabel]="'Selecionar Arquivo'"
        [uploadLabel]="'Enviar'"
        (onSelect)="onSelectImage($event.files)"
      >
      </p-fileUpload>

      <div class="text-right">
        <button
          id="cancel-button"
          routerLink="/pages/pacientes/list"
          class="btn btn-danger btn-with-icon btn-form"
        >
          <i class="ion-close-round"></i> CANCELAR
        </button>
        <button
          id="save-button"
          type="button"
          [disabled]="!(uploadedFile != null)"
          (click)="onSubmit()"
          class="btn btn-success btn-with-icon btn-form"
        >
          <i class="fas fa-upload"></i> ENVIAR
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
