<div class="content-page">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>Mensagens recebidas</h6>
        </nb-card-header>
        <nb-card-body>
          <nb-chat>
            <nb-chat-message *ngFor="let msg of resolvedChat"
              [type]="'text'"
              [reply]="msg.enviado_por === 'PREFEITURA' ? true : false"
              [message]="msg.texto"
              [sender]="msg.nome_dispositivo"
              [date]="msg.created_at">
            </nb-chat-message>
            <nb-chat-form
              (send)="sendMessage($event)"
              [dropFiles]="false"
              [buttonTitle]="'ENVIAR'">
            </nb-chat-form>
          </nb-chat>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
