<div class="content-page">
  <nb-card>
    <nb-card-header>
      <h6 style="line-height: 2.5rem;">
        {{ (resolvedBoletim ? "EDITAR " : "ADICIONAR ") + "BOLETIM" }}
      </h6>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-lg-3">
            <div
              class="form-group"
              [ngClass]="{
                'has-error':
                  form.controls.data.status === 'INVALID' &&
                  form.controls.data.dirty,
                'has-success':
                  form.controls.data.status !== 'INVALID' &&
                  form.controls.data.dirty
              }"
            >
              <label for="data">Data</label>
              <soma-calendar
                [form]="form"
                parentControlName="data"
                monthNavigator="true"
                yearNavigator="true"
                yearRange="1990:2030"
                styleClass="col-lg-12"
                inputStyleClass="form-control"
                inputId="data"
                placeholder="Data"
              >
              </soma-calendar>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Suspeitos</label>
                  <input
                    formControlName="quantidade_suspeitos"
                    placeholder="Suspeitos"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Confirmados</label>
                  <input
                    formControlName="quantidade_confirmados"
                    placeholder="Confirmados"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Óbitos</label>
                  <input
                    formControlName="quantidade_obitos"
                    placeholder="Óbitos"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Descartados</label>
                  <input
                    formControlName="quantidade_descartados"
                    placeholder="Descartados"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Curados</label>
                  <input
                    formControlName="quantidade_curados"
                    placeholder="Curados"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Óbitos Suspeitos</label>
                  <input
                    formControlName="quantidade_obitos_suspeitos"
                    placeholder="Óbitos Suspeitos"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Curva Epidemiológica Prevista Pela Fiocruz</label>
                  <input
                    formControlName="quantidade_confirmados_previsto_fiocruz"
                    placeholder="Curva Epidemiológica Prevista Pela Fiocruz"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Número de Testes Aplicados</label>
                  <input
                    formControlName="quantidade_testagem"
                    placeholder="Número de Testes Aplicados"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Número de Leitos de UTI</label>
                  <input
                    formControlName="quantidade_leitos_uti"
                    placeholder="Número de Leitos de UTI"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Número de Leitos de UTI Ocupados</label>
                  <input
                    formControlName="quantidade_leitos_uti_ocupados"
                    placeholder="Número de Leitos de UTI Ocupados"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="row full-name-inputs">
                <div class="col-12">
                  <label>Taxa de Isolamento Social</label>
                  <input
                    formControlName="indice_isolamento_social"
                    placeholder="Taxa de Isolamento Social"
                    class="form-control"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="text-right">
        <button
          id="cancel-button"
          routerLink="/pages/boletins/list"
          class="btn btn-danger btn-with-icon btn-form"
        >
          <i class="ion-close-round"></i> Cancelar
        </button>
        <button
          id="save-button"
          type="button"
          [disabled]="!form.valid"
          (click)="onSubmit(form.value)"
          class="btn btn-success btn-with-icon btn-form"
        >
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
