@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';
@import '../../@theme/styles/styles';

.content-page {
  padding: 16px;
  background: #edf1f7;
}

.header-container {
  overflow: hidden;
  background-color: #FFFFFF;
}

.logo-container {
  float: left;
  align-items: center;
  padding-left: 15px;

  .logo-coronavirus {
    align-items: center;
    width: 150px;
  }

  .logo-prefeitura {
    width: 150px;
    padding-bottom: 14px;
  }
}

.nav-item {
  float: right;
  padding: 14px;
}

.nav-link {
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  cursor: pointer;
}

.nav-link i {
  margin-right: 8px;
  position: relative;
  top: 1px;
}

.chart-height {
  height: 300px;
}

.legenda {
  text-align: left;
  margin-bottom: 5px;
}

.legenda ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legenda ul li {
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legenda ul li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.legend a {
  color: #777;
}

nb-card {
  background-color: #ffffff;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  color: #192038;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 1.875rem;
  scrollbar-face-color: #e4e9f2;
  scrollbar-track-color: #f7f9fc;

  nb-card-header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #edf1f7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #192038;
    font-family: Open Sans, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;

    span {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  nb-card-body {
    -webkit-box-flex: 1;
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow: auto;
    padding: 1rem 1.25rem;
    position: relative;
    scrollbar-face-color: #e4e9f2;
    scrollbar-track-color: #f7f9fc;
  }
}

::ng-deep {
  ngx-charts-number-card ngx-charts-chart div {

      > svg {
        height: 160px;

        @media (max-width: 970px) {
          height: 300px;
        }

        @media (max-width: 486px) {
          height: 500px;
        }
      }
    }

}
