
<div class="header-container">
  <div class="logo-container">
    <img src="/assets/images/CombateCovid-19_Horizontal.png" alt="Combate Coronovírus" class="logo-coronavirus" />
    <img src="/assets/images/prefeitura_bauru_logo.png" alt="Prefeitura de Bauru" class="logo-prefeitura" />
  </div>
  <div class="nav-item">
    <a class="nav-link" routerLink="/pages">
      <i class="fas fa-lock"></i> Acesso de prefeituras
    </a>
  </div>
</div>

<div class="content-page">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          Relatório público | Bauru - SP | Versão para dispositivos móveis
          <br>
          <span><i class="fas fa-history"></i><i> Atualizado em {{ dataAtualizacao | date: 'dd/MM/yyyy HH:mm:ss' }}</i></span>
        </nb-card-header>
        </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="padding: 0 5px">
      <ngx-charts-number-card
        [scheme]="totalizadoresAbsolutosScheme"
        [cardColor]="'#FFFFFF'"
        [results]="totalizadoresAbsolutos">
      </ngx-charts-number-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="padding: 0 5px">
      <ngx-charts-number-card
        [scheme]="totalizadoresPercentuaisScheme"
        [results]="totalizadoresPercentuais"
        [valueFormatting]="symbolFormatting"
        [animations]="false">
      </ngx-charts-number-card>
    </div>
  </div>

    <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          Sobre os indicadores
        </nb-card-header>
        <nb-card-body>
          <p><b>Incidência</b>: número de casos de COVID-19 para cada 100.000 habitantes do município</p>
          <p><b>Mortalidade</b>: número de óbitos por COVID-19 para cada 100.000 habitantes do município</p>
          <p><b>Letalidade</b>: percentual de casos de COVID-19 que resultam em óbito no município</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          Evolução dos casos | Bauru - SP<br>
          <span><i class="fas fa-history"></i> <small><i> Atualizado em {{ dataAtualizacao | date: 'dd/MM/yyyy HH:mm:ss' }}</i></small></span>
        </nb-card-header>
        <nb-card-body>
          <div class="chart-height">
            <ngx-charts-line-chart
              [scheme]="evolucaoCasosScheme"
              [results]="evolucaoCasos"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="false"
              [legendPosition]="'bottom'"
              [legendTitle]="'Casos'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Data'"
              [yAxisLabel]="'Qtde. casos'">
            </ngx-charts-line-chart>
          </div>
        </nb-card-body>
        <nb-card-body>
          <div class='legenda'>
            <p><b>Legenda</b></p>
            <ul>
              <li><span style='background:#FF0000;'></span>Casos confirmados COVID-19</li>
              <li><span style='background:#000000;'></span>Óbitos por COVID-19</li>
            </ul>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          Óbitos por faixa etária | Bauru - SP<br>
          <span><i class="fas fa-history"></i> <small><i> Atualizado em {{ dataAtualizacao | date: 'dd/MM/yyyy HH:mm:ss' }}</i></small></span>
        </nb-card-header>
        <nb-card-body>
          <div class="chart-height">
            <ngx-charts-bar-horizontal
              [results]="obitosFaixaEtaria"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="false"
              [legendPosition]="'bottom'"
              [legendTitle]="'Faixas etárias'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [showDataLabel]="true"
              [showGridLines]="true"
              [xAxisLabel]="'N.º de óbitos'"
              [yAxisLabel]="'Faixa etária'">
            </ngx-charts-bar-horizontal>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card style="height: 500px">
        <nb-card-header>
          Incidência geográfica dos casos | Bauru -SP<br>
          <span><i class="fas fa-history"></i> <small><i> Atualizado em {{ dataAtualizacao | date: 'dd/MM/yyyy HH:mm:ss' }}</i></small></span>
        </nb-card-header>
        <nb-card-body style="overflow-y: hidden; margin-bottom: 20px">
          <covid-mapa-calor></covid-mapa-calor>
        </nb-card-body>
        <nb-card-footer>
          <div class="col-lg-12">
            <p>Funções de zoom desativadas por questões de confidencialidade.</p>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          O que fazer no caso de sintomas
        </nb-card-header>
        <nb-card-body>
          <p>Se você apresentar sintomas de gripe, com bom estado geral, a recomendação é que:</p>
          <ul>
            <li>Fique em casa por 14 dias</li>
            <li>Faça repouso</li>
            <li>Beba bastante água</li>
            <li>Tome banho quente ou utilize inalador com soro fisiológico para amenizar o desconforto</li>
            <li>Utilize umidificador de ar</li>
            <li>Siga as orientações de higiene para reduzir o risco aos seus familiares</li>
          </ul>
          <p><b>Se apresentar piora no estado geral e febre (acima de 37,8 graus), incluindo cansaço ou dificuldade para respirar, ligue para DISK-COVID: 192</b></p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          Como reportar uma situação
        </nb-card-header>
        <nb-card-body>
          <p>Neste momento contamos com a colaboração de todos para garantir a saúde, a segurança e o bem-estar em nosso município.</p>
          <p>Entre em contato para reportar aglomerações, abertura ao público de estabelecimentos não permitidos ou qualquer outra situação que julgar relevante.</p>
          <br>
          <p><b>Ouvidoria da Prefeitura de Bauru:</b></p>
          <p>(14) 3235-1156</p>
          <p><a href='https://www2.bauru.sp.gov.br/ouvidoria' target='_blank'>https://www2.bauru.sp.gov.br/ouvidoria</a></p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          Sobre a Plataforma Combate Coronavírus
        </nb-card-header>
        <nb-card-body>
          <p>Uma plataforma digital voluntária dedicada ao enfrentamento da pandemia de COVID-19 no Brasil.</p>
          <p>A iniciativa para desenvolvimento da plataforma tecnológica Combate Coronavírus foi voluntária e sem fins lucrativos, e todos os recursos são oferecidos gratuitamente.</p>
          <p>Nossa principal missão é usar nossa tecnologia para ajudar a salvar vidas, oferecendo ferramentas de processamento de dados e inteligência espacial aos municípios brasileiros para apoio no combate à pandemia de COVID-19.</p>
          <p>Oferecemos uma plataforma web onde as prefeituras municipais podem submeter dados de vigilância epidemiológica suprimindo dados pessoais de pacientes, e a partir destes dados conseguimos gerar indicadores, análises, mapas, gráficos e projeções que podem ser utilizados para apoiar estratégias locais.</p>
          <p>Para participar qualquer prefeitura pode enviar um e-mail para <a href='mailto:miguel.axcar@gmail.com'>miguel.axcar@gmail.com</a> utilizando um e-mail oficial e retornamos acesso à plataforma de ferramentas computacionais e geoespaciais.</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>
