
<div class="content-page">
<nb-card>
  <nb-card-header>
    Filtros
    </nb-card-header>
    <nb-card-body>
  <form [formGroup]="form" (ngSubmit)="dataTable.reset(); search(form.value)">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" [ngClass]="{'has-error': (form.controls.numero_notificacao.status === 'INVALID' && form.controls.numero_notificacao.dirty), 'has-success': (form.controls.numero_notificacao.status !== 'INVALID' && form.controls.numero_notificacao.dirty)}">
          <label class="control-label" for="numero_notificacao">SINAN</label>
          <input
            id="numero_notificacao"
            placeholder="Número de notificação"
            class="form-control"
            formControlName="numero_notificacao"
            type="text"
          />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="data_notificacao">Data de notificação inicial</label>
          <soma-calendar
            [form]="form"
            parentControlName="data_notificacao_inicio"
            monthNavigator="true"
            yearNavigator="true"
            yearRange="1990:2030"
            styleClass="col-12"
            inputStyleClass="form-control"
            inputId="data_notificacao_inicio"
            placeholder="Notificado a partir de"
          >
          </soma-calendar>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label" for="data_notificacao">Data de notificação final</label>
          <soma-calendar
          [form]="form"
          parentControlName="data_notificacao_final"
          monthNavigator="true"
          yearNavigator="true"
          yearRange="1990:2030"
          styleClass="col-12"
          inputStyleClass="form-control"
          inputId="data_notificacao_final"
          placeholder="Notificado até"
        >
        </soma-calendar>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label class="control-label" for="faixa_etaria">Faixa etária</label>
          <select formControlName="faixa_etaria" class="form-control">
            <option [ngValue]="null">Selecione</option>
            <option [ngValue]="'FAIXA_ETARIA_0_9'">0 - 9</option>
            <option [ngValue]="'FAIXA_ETARIA_10_19'">10 - 19</option>
            <option [ngValue]="'FAIXA_ETARIA_20_29'">20 - 29</option>
            <option [ngValue]="'FAIXA_ETARIA_30_39'">30 - 39</option>
            <option [ngValue]="'FAIXA_ETARIA_40_49'">40 - 49</option>
            <option [ngValue]="'FAIXA_ETARIA_50_59'">50 - 59</option>
            <option [ngValue]="'FAIXA_ETARIA_60_69'">60 - 69</option>
            <option [ngValue]="'FAIXA_ETARIA_70_79'">70 - 79</option>
            <option [ngValue]="'FAIXA_ETARIA_80_89'">80 - 89</option>
            <option [ngValue]="'FAIXA_ETARIA_90_MAIS'">90 - Mais</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label class="control-label" for="sexo">Sexo</label>
          <select formControlName="sexo"  class="form-control">
            <option [ngValue]="null">Selecione</option>
            <option [ngValue]="'M'">Masculino</option>
            <option [ngValue]="'F'">Feminino</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label class="control-label" for="tipo">Síndrome</label>
          <select formControlName="tipo"  class="form-control">
            <option [ngValue]="null">Selecione</option>
            <option [ngValue]="'SRAG'">SRAG</option>
            <option [ngValue]="'SINDROME_GRIPAL'">Síndrome gripal</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label class="control-label" for="sexo">Condição</label>
          <select formControlName="condicao"  class="form-control">
            <option [ngValue]="null">Selecione</option>
            <option [ngValue]="'ALTA_LIBERADO_DO_ISOLAMENTO'">Alta - Liberado do isolamento</option>
            <option [ngValue]="'ALTA_ISOLAMENTO_SOCIAL'">Alta - Isolamento social</option>
            <option [ngValue]="'EM_ACOMPANHAMENTO_ESTAVEL'">SEm acompanhamento - Estável</option>
            <option [ngValue]="'EM_ACOMPANHAMENTO_GRAVE'">Em acompanhamento - Grave</option>
            <option [ngValue]="'OBITO'">Óbito</option>
          </select>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 pull-right text-right">
        <div class="form-group">
          <button id="reset-button" (click)="dataTable.reset(); clearFilters()" class="btn btn-cancel btn-with-icon" type="reset">
            <i class="ion-close"></i> Limpar
          </button>
          <button id="search-button" class="btn btn-info btn-with-icon" type="submit" style="margin-left: 5px" [disabled]="form.invalid">
            <i class="ion-search"></i> Buscar
          </button>
        </div>
      </div>
    </div>
  </form>
</nb-card-body>
</nb-card>

  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-lg-3">
          <h6 style="line-height: 2.5rem;">PACIENTES{{totalRecords ? (': ' + totalRecords) : '' }}</h6>
        </div>
        <div class="col-lg-9 text-right">
          <button id="import-button" (click)="openWindowWithoutBackdrop()" class="btn btn-primary btn-with-icon-contrast">
            <i class="far fa-file-alt"></i> Instruções
          </button>
          <button id="import-button" (click)="goToDownload()" class="btn btn-primary btn-with-icon-contrast" style="margin-left: 5px">
            <i class="fas fa-file-download"></i> Baixar modelo
          </button>
          <button id="import-button" routerLink="/pages/pacientes/list/import" class="btn btn-primary btn-with-icon-contrast" style="margin-left: 5px">
            <i class="fas fa-upload"></i> Importar planilha
          </button>
        </div>
      </div>
    </nb-card-header>
<nb-card-body>
  <p-table
    #dataTable
    [value]="collection"
    selectionMode="single"
    [rows]="dataTableConfig.rowsPerPage"
    [rowsPerPageOptions]="dataTableConfig.rowsPerPageOptions"
    [paginator]="true"
    [pageLinks]="dataTableConfig.maxPageLinks"
    [loading]="isLoading"
    [responsive]="true"
    [rowHover]="true"
    [sortField]="'data_notificacao'"
    [sortOrder]="-1"
    [lazy]="true"
    [totalRecords]="totalRecords"
    [first]="dataTableConfig.firstRow"
    (onSort)="sortColumn($event)"
    (onPage)="goToPage($event)"
    [metaKeySelection]="false"
  >
    <ng-template pTemplate="header" let-columns>
      <tr class="text-center">
        <th style="width: 11%" [pSortableColumn]="'numero_notificacao'" pResizableColumn>SINAN<p-sortIcon [field]="'numero_notificacao'"></p-sortIcon>
        </th>

        <th [pSortableColumn]="'data_notificacao'" pResizableColumn>Data da notificação<p-sortIcon [field]="'data_notificacao'"></p-sortIcon>
        </th>

        <th [pSortableColumn]="'faixa_etaria'" pResizableColumn>Faixa etária<p-sortIcon [field]="'faixa_etaria'"></p-sortIcon>
        </th>

        <th style="width: 11%" [pSortableColumn]="'sexo'" pResizableColumn>Sexo<p-sortIcon [field]="'sexo'"></p-sortIcon>
        </th>

        <th [pSortableColumn]="'tipo'" pResizableColumn>Síndrome<p-sortIcon [field]="'tipo'"></p-sortIcon>
        </th>

        <th [pSortableColumn]="'condicao'" pResizableColumn>Condição<p-sortIcon [field]="'condicao'"></p-sortIcon>
        </th>

        <th [pSortableColumn]="'endereco'" pResizableColumn>Endereço<p-sortIcon [field]="'endereco'"></p-sortIcon>
        </th>

        <th style="width: 9%">Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" class="text-center">
        <td>{{ rowData.numero_notificacao }}</td>
        <td>{{ rowData.data_notificacao | date: "dd/MM/y" }}</td>
        <td>{{ rowData.faixa_etaria }}</td>
        <td *ngFor="let option of sexoOptions | filter: rowData.sexo">{{ option.value }}</td>
        <td>{{ rowData.tipo }}</td>
        <td>{{ rowData.condicao }}</td>
        <td>{{ rowData.endereco }}</td>
        <td>
          <button
            id="view-button"
            class="btn btn-o-contrast btn-icon"
            title="Visualizar"
            routerLink="/pages/pacientes/{{ rowData.id }}/view"
          >
            <i class="far fa-eye"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <ng-container>
        <tr>
          <td [attr.colspan]="7">
            {{ dataTableConfig.emptyMessage }}
          </td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>

<ng-template #disabledEsc>
  <p>
    <strong>IMPORTANTE:&nbsp;</strong>Nossa rotina computacional de
    importa&ccedil;&atilde;o est&aacute; preparada para importar apenas este
    modelo de planilha, portanto n&atilde;o &eacute; permitido:
  </p>
  <ul>
    <li>Incluir/alterar/excluir colunas</li>
    <li>
      Preencher campos n&atilde;o utilizando tipos poss&iacute;veis, se for o
      caso
    </li>
    <li>Criar novas abas</li>
  </ul>
  <p>
    Cores de linhas, tipos e tamanhos de fontes n&atilde;o afetam nossa rotina
    de importa&ccedil;&atilde;o, fique &agrave; vontade para utilizar caso
    necess&aacute;rio.
  </p>
  <p>
    Os campos foram extra&iacute;dos da ficha de notifica&ccedil;&atilde;o do
    Minist&eacute;rio da Sa&uacute;de, mas estamos &agrave;
    disposi&ccedil;&atilde;o caso tenha qualquer d&uacute;vida.
  </p>
  <p>Abaixo instru&ccedil;&otilde;es sobre como preencher cada campo:</p>
  <ul>
    <li>
      <strong>Tipo (obrigat&oacute;rio)</strong>
      <ul>
        <li>Escolher apenas dentre os tipos poss&iacute;veis</li>
        <ul>
          <li>SRAG (S&iacute;ndrome Respirat&oacute;ria Aguda Grave) ou</li>
          <li>S&iacute;ndrome gripal</li>
        </ul>
      </ul>
    </li>
    <li>
      <strong
        >N&uacute;m. de notifica&ccedil;&atilde;o - SINAN
        (obrigat&oacute;rio)</strong
      >
      <ul>
        <li>
          SINAN significa Sistema de Informa&ccedil;&atilde;o de Agravos de
          Notifica&ccedil;&atilde;o
        </li>
        <li>
          Este campo &eacute; controlado pelo Minist&eacute;rio da Sa&uacute;de
        </li>
        <li>
          Preencher com o n&uacute;mero de notifica&ccedil;&atilde;o (SINAN) do
          paciente
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <strong
        ><strong>Endere&ccedil;o completo (obrigat&oacute;rio)</strong></strong
      >
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Preencher com o endere&ccedil;o completo do paciente</li>
        <li>
          Este campo &eacute; importante para a espacializa&ccedil;&atilde;o dos
          casos, permitindo a gera&ccedil;&atilde;o de mapas, an&aacute;lises de
          incid&ecirc;ncia e futuras an&aacute;lises epidemiol&oacute;gicas
        </li>
        <li>
          Caso o paciente n&atilde;o seja morador do munic&iacute;pio deixe este
          campo em branco
        </li>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong><strong>Resid&ecirc;ncia (obrigat&oacute;rio)</strong></strong>
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Preencher com o nome do munic&iacute;pio de resid&ecirc;ncia</li>
        <li>Preencher com o nome do pa&iacute;s quando do exterior</li>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong
        ><strong
          >Data da notifica&ccedil;&atilde;o (obrigat&oacute;rio)</strong
        ></strong
      >
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>
          Preencher com a data de notifica&ccedil;&atilde;o ao Minist&eacute;rio
          da Sa&uacute;de
        </li>
        <li>Formato DD/MM/AAAA</li>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong><strong>Sexo (obrigat&oacute;rio)</strong></strong>
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Escolher apenas entre os tipos poss&iacute;veis - "F" ou "M"</li>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong><strong>Idade (opcional)</strong></strong>
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Preencher com a idade do paciente</li>
        <li>
          Utilizar apenas n&uacute;meros, indicando anos completos. Exemplos:
        </li>
        <ul>
          <li>1 ano e tr&ecirc;s meses - preencher o campo como 1</li>
          <li>09 meses - preencher o campo como 0</li>
          <li>62 anos e 07 meses - preencher o campo como 62</li>
        </ul>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong><strong>Faixa et&aacute;ria (obrigat&oacute;rio)</strong></strong>
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Escolher apenas entre os tipos poss&iacute;veis</li>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong
        ><strong
          >Condi&ccedil;&atilde;o do paciente (obrigat&oacute;rio)</strong
        ></strong
      >
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Escolher dentre os tipos poss&iacute;veis</li>
        <ul>
          <li>"Alta - Liberado do isolamento"</li>
          <li>"Alta - Isolamento social"</li>
          <li>"Em acompanhamento - Est&aacute;vel"</li>
          <li>"Em acompanhamento - Grave"</li>
          <li>"&Oacute;bito"</li>
        </ul>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong
        ><strong
          >Data do &oacute;bito ou alta (obrigat&oacute;rio)</strong
        ></strong
      >
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>
          Preencher com a data de &oacute;bito ou alta, se dispon&iacute;vel
        </li>
        <li>Formato DD/MM/AAAA</li>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong><strong>Status do exame (obrigat&oacute;rio)</strong></strong>
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Escolher dentre os tipos poss&iacute;veis</li>
        <ul>
          <li>&ldquo;Coletado" (Aguardando resultado)</li>
          <li>"Conclu&iacute;do" (J&aacute; tem o resultado do exame)</li>
        </ul>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong><strong>Data da coleta (opcional)</strong></strong
      >&nbsp;
    </li>
  </ul>
  <ul>
    <ul>
      <ul>
        <li>Preencher com a data de coleta do exame</li>
        <li>Formato DD/MM/AAAA</li>
      </ul>
    </ul>
  </ul>
  <ul>
    <li>
      <strong
        ><strong>Agente pat&oacute;geno (obrigat&oacute;rio)</strong></strong
      >
    </li>
  </ul>
  <ul>
    <ul>
      <li>Escolher dentre os tipos poss&iacute;veis</li>
      <ul>
        <li>"COVID19"</li>
        <li>"Influenza H1N1"</li>
        <li>"Influenza H3&rdquo;</li>
        <li>&nbsp;"Influenza B"</li>
        <li>&ldquo;Influenza n&atilde;o subtipada"</li>
        <li>"SRAG n&atilde;o especificado"</li>
        <li>"SG n&atilde;o especificado"</li>
      </ul>
    </ul>
  </ul>
  <h5>Planilha de exemplo</h5>
  <p>
    Inclu&iacute;mos uma planilha de exemplo, que mostra como os dados devem ser
    preenchidos:
  </p>
  <p>
    <strong>
      <a href="assets/files/Exemplo - Combate Coronavírus - Planilha de controle de pacientes.xlsx">
        Exemplo - Combate Coronav&iacute;rus - Planilha de controle de pacientes.xlsx
      </a>
    </strong>
  </p>
</ng-template>
</nb-card-body>
</nb-card>
</div>
