<div class="auth-main">
  <div class="auth-block">
    <div class="content-auth">

      <div class="row">
        <img src="/assets/images/CombateCovid-19_Horizontal.png" alt="Combate Coronovírus" class="logo-login">
      </div>

      <div *ngIf="unauthorized" class="alert alert-danger">
        <div class="col-lg-12">
          E-mail e/ou senha inválidos.
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        <!-- E-mail -->
        <div class="form-group form-inline"
          [ngClass]="{'has-error': (form.controls.email.invalid && form.controls.email.value), 'has-success': (form.controls.email.valid && form.controls.email.touched)}">
          <label for="input-email" class="control-label text-right"><i class="icon far fa-envelope"></i></label>
          <input id="input-email" formControlName="email" type="text" class="form-control" placeholder="Digite seu e-mail">
        </div>
        <!-- Senha -->
        <div class="form-group form-inline"
          [ngClass]="{'has-error': (form.controls.password.invalid && form.controls.password.value), 'has-success': (form.controls.password.valid && form.controls.password.touched)}">
          <label for="input-senha" class="control-label text-right"><img src="/assets/icons/lock.svg" alt="CPOS" class="icon" /></label>
          <input id="input-senha" formControlName="password" type="password" class="form-control" placeholder="Digite sua senha">
        </div>
        <!-- Botão -->
        <button id="submit-button" *ngIf="!submitted" [disabled]="!form.valid" type="submit" class="btn btn-primary-login">
          Entrar <i class="fa fa-angle-right"></i>
        </button>
        <button *ngIf="submitted" [disabled]="true" type="button" class="btn btn-primary-login">
          Aguarde <i class="fa fa-spinner fa-spin"></i>
        </button>
      </form>

    </div>
  </div>
</div>
