@import '../../@theme/styles/themes';

.auth-main {
  background: #317058;
  align-items: center;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.auth-block {
  margin: 0 auto;
  position: relative;
  display: flex;
  z-index: 3;
  width: 920px;
  height: 450px;
  flex-direction: row-reverse;
  justify-content: space-around;

  @media (max-width: 1120px) {
    width: 90%;
  }

  @media (max-width: 860px) {
    overflow: hidden;
    height: auto;
  }

  @media (max-width: 560px) {
    max-width: 100%;
  }

  .content-auth {
    padding: 45px 45px 45px 45px;
    position: relative;
    background: #fff;
    width: calc(100% - 450px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);

    @media (max-width: 860px) {
      width: 60%;
      box-shadow: none;
      padding: 25px 25px;
    }

    @media (max-width: 560px) {
      width: 90%;
    }

    img.icon {
      width: 25px;
      margin-right: 23px;
      opacity: .18;
      margin-left: 2px;
    }

    .icon {
      font-size: 30px;
      opacity: 0.2;
      width: 30px;
      text-align: left;
      margin-right: 20px;
    }
  }

  .btn.disabled,
  .btn:disabled {
    cursor: pointer;
  }

  form {
    width: 100%;

    .form-inline {
      margin-bottom: 5px;
    }
  }

  .form-group {
    .form-control {
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0;
      width: calc(100% - 50px);
      opacity: 0.6;
      padding: 15px;

      &:-webkit-autofill {
        background: transparent;
      }

      @media (max-width: 860px) {
        width: calc(100% - 50px);
        max-width: calc(100% - 50px);
        min-width: calc(100% - 50px);
      }
    }
  }
}

.logo-login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.btn.btn-primary-login {
  background: linear-gradient(to right, #206e50 0%, #164d38 100%);
  border: 0;
  text-transform: uppercase;
  padding: 5px 5px 5px 25px;
  color: #ffffff;
  border-radius: 50px;
  width: 160px;
  text-align: left;
  display: block;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  line-height: 34px;
  float: right;
  margin-top: 10px;

  @media (max-width: 860px) {
    margin: 20px auto;
    float: inherit;
  }

  i {
    padding: 2px 0;
    border-radius: 55px;
    margin-left: 20px;
    width: 33px;
    height: 33px;
    text-align: center;
    float: right;
    font-size: 27px;
  }

  &:hover {
    transform: scale(1.07);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.alert {
  padding: 0.25rem 1.25rem;
  align-self: normal;
  text-align: center;
}
