<div class="content-page">
    <button class="float-right" nbButton status="primary" (click)="goToCreateAcaoSocial()">
        Adicionar Ação Social
    </button>
    <br>
    <br>
    <br>
    <p-table
    [value]="acoesSociais"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,25,50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Título</th>
                <th>Município</th>
                <th>Data de Início</th>
                <th>Data de Encerramento</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-acaoSocial>
            <tr>
                <td>{{acaoSocial.titulo}}</td>
                <td>{{acaoSocial.municipio}}</td>
                <td>{{acaoSocial.data_inicio}}</td>
                <td>{{acaoSocial.data_encerramentto}}</td>
                <td>
                    <button  (click)="goToEditAcaoSocial(acaoSocial.id)" pButton type="button" class="ui-button-secondary" icon="pi pi-pencil"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
