@import './themes';

body {
  button.status-success {
    border-color: #317058 !important;
    background-color: #317058 !important;
  }

  button.status-success[disabled] {
    background-color: #edf1f7 !important;
    color: rgba(143, 155, 179, 0.48) !important;
  }
}

// Mixins
// ------------------------------------------------------
@mixin style-button($color, $border-color) {
  background-color: $color;
  border-color: $border-color;
}

@mixin style-outline-button($color, $border-color) {
  background-color: transparent;
  border-color: lighten($border-color, 15%);
  color: $color;
  opacity: .8;

  &:active {
    background-color: $color;
    color: #f1f1f1;
    opacity: 1;
  }
}

@mixin button-outline-color($color, $border-color: '') {
  @if $border-color == '' {
    $border-color: $color;
  }

  @include style-outline-button($color, $border-color);

  &.disabled, &[disabled], fieldset[disabled] &, &.disabled:hover, &[disabled]:hover,
  fieldset[disabled] &:hover, &.disabled:focus, &[disabled]:focus, fieldset[disabled] &:focus,
  &.disabled.focus, &[disabled].focus, fieldset[disabled] &.focus, &.disabled:active,
  &[disabled]:active, fieldset[disabled] &:active, &.disabled.active, &[disabled].active,
  fieldset[disabled] &.active {
    @include style-outline-button($color, $border-color);

    &:hover {
      transform: none;
    }
  }

  &:hover, &:focus, &.focus, &:active, &.active {
    @include style-outline-button($color, $border-color);
  }
}

// Button with outline and no background
// ======================================================
.btn.btn-o-primary {
  @include button-outline-color($primary-dark);
}

.btn.btn-o-success {
  @include button-outline-color($success-dark);
}

.btn.btn-o-info {
  @include button-outline-color($info-dark);
}

.btn.btn-o-warning {
  @include button-outline-color($warning-dark);
}

.btn.btn-o-danger {
  @include button-outline-color($danger-dark);

  &:active,
  &:hover,
  &:target {
    background-color: $danger-lighter;
  }
}

.btn {
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  padding: .3rem .7rem;
  transition: transform .05s ease;
  text-transform: uppercase;
  background: #b9e9ff;

  &:hover {
    background: #97deff;
  }

  &.width {
    min-width: 130px;
  }
}

.btn-icon {
  margin: 0 5px;
}

.btn.btn-primary {
  background-color: $primary;
  color: #ffffff;

  &:active,
  &:hover,
  &:target {
    background-color: $primary-dark;
  }
}

.btn.btn-cancel {
  background-color: #d8d8dc;
  color: $contrast;

  &:active,
  &:hover,
  &:target {
    background-color: #c0c0c5;
  }
}

.btn.btn-success {
  background-color: $success;
  color: #ffffff;

  &:active,
  &:hover,
  &:target {
    background-color: $success-dark;
  }
}

.btn.btn-info {
  background-color: $info;
  color: $contrast;

  &:active,
  &:hover,
  &:target {
    background-color: $info-dark;
  }
}

.btn.btn-warning {
  background-color: $warning;
  color: #ffffff;

  :hover {
    background-color: $warning-dark;
  }

  &:active,
  &:hover,
  &:target {
    background-color: $warning-dark;
  }
}

.btn.btn-danger {
  background-color: $danger;
  border-color: $danger;;
  color: #ffffff;

  :hover {
    background-color: $danger-dark;
    border-color: $danger-dark;
  }

  span {
    :hover {
      background-color: $danger-dark;
    }
  }

  &:active,
  &:hover,
  &:target {
    background-color: $danger-dark;
  }
}

.btn.btn-inverse {
  background-color: #dadada;
  color: #666;

  &:active,
  &:target,
  &:hover {
    background-color: #ddd;
  }
}

.btn.btn-contrast {
  background-color: $contrast;
  color: #f1f1f1;

  &:active,
  &:hover,
  &:target {
    background-color: $contrast-dark;
  }
}

.btn-with-icon {
  display: inline-flex;
  padding: 0;
  border: 0;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  flex-direction: row-reverse;

  &.padding {
    i {
      padding: 15px 15px;
    }
  }

  i {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 22px;
  }

  .material-icons {
    margin-top: -1px;
  }
}

.btn-with-icon-contrast {
  display: inline-flex;
  padding: 0;
  border: 0;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  flex-direction: row-reverse;

  &.padding {
    i {
      padding: 15px 15px;
    }
  }

  i {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    color: #ffffff;
    line-height: 22px;
  }

  .material-icons {
    margin-top: -1px;
  }
}

.btn-form {
  margin-left: 20px;
  margin-top: 20px;
}
