@import './themes';

.form-group {
  label {
    color: $content-text;
    font-size: 13px;
    font-weight: $font-normal;
    margin-bottom: 5px;
  }

  p.form-text {
    font-size: 12px;
    color: lighten($content-text, 35%);
  }

}

@mixin placeholder-style($color, $opacity) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}

.form-control {
  @include placeholder-style($content-text, .7);

  background-color: $input-background;
  border: 1px solid #e2e2e8;
  border-radius: 0;
  box-shadow: none;
  color: $content-text;
  font-size: 14px;
  min-width: 50px;

  &:focus {
    background: $input-background;
    border-color: $primary-bg;
    box-shadow: none;
    color: $content-text;
  }
}

@mixin validationState($color, $focusColor) {
  .control-label {
    color: $content-text;
  }

  p-autocomplete {
    .form-control {
      &:focus {
        box-shadow: none;
        border-color: $focusColor;
      }

      &.ui-inputtext {
        border: 1px solid $color;

        &:enabled {
          border: 1px solid $color;

          &:hover {
            border: 1px solid $color;
          }
        }
      }
    }
  }

  .form-control {
    border: 1px solid $color;

    &:focus {
      box-shadow: none;
      border-color: $focusColor;
    }
  }

  label.custom-checkbox {
    color: $color;

    &>span {
      &:before {
        color: $color;
      }

      &:hover {
        &:before {
          border-color: $color;
        }
      }
    }
  }

  .form-control-feedback {
    color: $color;
  }

  .input-group-addon {
    background-color: $color;
    color: $label-text;
  }
}

.has-success {
  @include validationState($success-bg, $success);
  position: relative;
}

.has-warning {
  @include validationState($warning-bg, $warning);
  position: relative;
}

.has-error {
  @include validationState($danger-bg, $danger);
  position: relative;
}

select.form-control {
  padding-left: 8px;
}

select.form-control:not([size]):not([multiple]) {
  height: 35px;
}

select.form-control:not([multiple]) option {
  color: $dropdown-text;
}

select.form-control[multiple] option {
  color: $default-text;
}

textarea.form-control {
  height: 96px;
}

// PrimeNG overrides
// ======================================================
soma-calendar {

  // Corrige bug de width do form-control não sendo respeitado no calendar,
  // por causa do display inline-block da class .ui-calendar (que é uma span).
  //
  // No caso do datepicker, modificamos o width padrão para obter o
  // width do pai (normalmente um div.col-sm-*)
  .ui-calendar,
  .ui-inputtext {
    width: 100%;
    padding: 0;
  }

  // Correção de padding do form-control após injetar PrimeNG
  .form-control.ui-inputtext {
    padding: .5rem .75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
}

body .ui-datepicker.ui-widget {
  position: relative;
  display: inline-block;
  margin-top: -15px;
  padding: 0;

  td span,
  td a {
    text-align: center;
  }

  .ui-datepicker-title select {
    // Estendendo estilos do select
    @extend .form-control;
    @extend select, .form-control;
  }

  .ui-datepicker-year {
    width: 37%;
    margin-left: 2px;
  }

  .ui-datepicker-calendar {
    td a {
      padding: 3px;
    }

    td:not(.ui-state-disabled) {
      .ui-state-highlight {
        background-color: $contrast-light;
        color: #fff;
      }

      .ui-state-active,
      .ui-state-active.ui-state-highlight {
        background-color: $primary;
        color: $primary-darker;
      }
    }
  }

  .ui-datepicker-header {
    background-color: $contrast;
    padding: .35em 0;
    padding-top: 0.7em;

    .ui-datepicker-prev,
    .ui-datepicker-next {
      color: #fff;
      top: 0.6em;
    }
  }
}
