@mixin ngx-layout() {
  @include media-breakpoint-down(is) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

.menu-lateral .main-container.main-container-fixed {
   width: 100% !important;
}

.window-limited-height {
  height: 90vh;
  overflow-y: scroll;
}

.ol-zoom-out, .ol-zoom-in {
  background-color: rgba(0, 0, 0, 0.5) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
}

.divisao {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  background: $default;

  @media (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 15px;

    &.fd-escuro {
      flex-direction: row;
      margin-bottom: 15px;

      i {
        font-size: 24px;
      }
    }
  }

  &.card-divisao {
    padding: 20px 20px 20px 20px;
    height: calc(100% - 30px);

    @media (max-width: 500px) {
      margin-bottom: 15px;
      height: auto !important;
      padding: 10px !important;
      white-space: nowrap;
      flex-direction: row;
    }

    i {
      opacity: .9;
      font-size: 24px;
      margin-right: 15px;
      flex: 0 0 auto;
      color: #114c8e;
    }

    p {
      margin-bottom: 0;
      opacity: .7;
      white-space: nowrap;

      span {
        display: block;
        font-weight: bold;

        @media (max-width: 500px) {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }

  &.fd-escuro {
    background: #008dd2;
    height: calc(100% - 30px);
    max-width: 400px;
    flex-wrap: wrap;

    @media (max-width: 1020px) {
      max-width: 100%;
    }

    >* {
      color: $default;
    }

    i {
      color: $default;
      font-size: 32px;
      margin-right: 15px;
    }
  }

  &.etapa {
    background: #ffffff;
    border: 1px solid $primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 3px 0 0 $primary inset;
    padding: 22px 30px;
    height: calc(100% - 30px);
    justify-content: center;

    @media (max-width: 500px) {
      padding: 15px;
    }

    .btn {
      align-self: stretch;
    }

    h5 {
      font-weight: bold;
    }

    >* {
      align-self: center;
      margin-right: 25px;

      @media (max-width: 500px) {
        text-align: center;
        margin: 0;

        p {
          line-height: 22px;
        }
      }

      &:nth-child(2) p {
        margin-top: 24px;

        @media (max-width: 500px) {
          margin-top: 5px;
        }
      }

      &:last-child {
        margin-right: 0;
        text-align: right;
      }
    }

    p {
      margin-bottom: 0;
      opacity: .7;
    }
  }

  >* {
    order: 0;
    flex: 1 1 auto;
    align-self: center;
  }
}

.nb-theme-default nb-card-body {
  overflow: visible !important;
}

body .ui-datepicker.ui-widget {
  position: absolute !important;
}
