// Overrides do PrimeNG
// ======================================================

// Coluna selecionada para ordenação da tabela
body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #b9e9ff;
  color: #333333;

  .ui-sortable-column-icon {
    color: #848484;
  }
}

// Paginator do Datatable
// ------------------------------------------------------
body .ui-paginator.ui-widget {
  display: block;
  margin: 20px auto 0 auto;
  border: 1px solid #abe4ff;
  width: fit-content;

  .ui-dropdown {
    border: 0;
    border-left: 1px solid #abe4ff;
    border-radius: 0;
    height: 33px;
    margin-left: 0;

    &.ui-state-focus {
      box-shadow: none;
    }

    label {
      line-height: 19px;
      background: #f0f0f4;
      border-radius: 0;
      padding-right: 2.5em;
    }

    &:not(.ui-state-disabled):hover {
      background-color: #f0f0f4;
      border-color: #dbdbe8;

      label {
        background: #f0f0f4;
      }

      .ui-dropdown-trigger {
        border-radius: 0;
        background: #343246;


        span {
          color: #fff;
        }
      }

    }
  }

  .ui-paginator-pages .ui-paginator-page, a {
    height: 33px;
    border: 0;
    color: #666666;
    line-height: 17px;
    padding: 8px 13px;
    margin: 0;
    background: #ffffff;

    &:hover {
      background: #edf9ff;

      &.ui-state-active {
        background-color: #abe4ff !important;
      }
    }
  }

  .ui-paginator-page.ui-state-active {
    color: black !important;
    background-color: #abe4ff !important;
    box-shadow: 0 -3px #abe4ff inset;
  }

  span.ui-paginator-pages {
    height: 33px;
    a.ui-paginator-page {
      width: 33px;
      border: 0;
      line-height: 17px;

      &:hover {
        box-shadow: 0 -3px #abe4ff inset;
      }
    }
  }

  // Select "Results per page"
  .ui-dropdown-panel {
    position: absolute;
    top: -100px !important;

    .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
      color: black !important;
      background-color: #abe4ff !important;
    }

    .ui-dropdown-items-wrapper {
      background-color: #ffffff;
    }
  }
}

// Definindo regras específicas para algumas colunas
// ==================================================
.table-actions {
  width: 120px;
}

