// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// Colors
// ======================================================

// Basic
$primary: #317058 !default;
$secondary: #80B25A !default;
$tertiary: #5298BF !default;
$info: #b9e9ff !default;
$success: #00b07d !default;
$warning: #dfb81c !default;
$danger: #e85656 !default;
$contrast: rgb(1, 29, 61) !default;

// Light
$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);
$contrast-light: tint($contrast, 30%);

// Lighter
$primary-lighter: lighten($primary-light, 15%);
$info-lighter: lighten($info-light, 15%);
$success-lighter: lighten($success-light, 15%);
$warning-lighter: lighten($warning-light, 15%);
$danger-lighter: lighten($danger-light, 15%);
$contrast-lighter: lighten($contrast-light, 15%);

// Dark
$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);
$contrast-dark: shade($contrast, 15%);

// Darker
$primary-darker: darken($primary-dark, 20%);
$info-darker: darken($info-dark, 20%);
$success-darker: darken($success-dark, 20%);
$warning-darker: darken($warning-dark, 20%);
$danger-darker: darken($danger-dark, 20%);
$contrast-darker: darken($contrast-dark, 20%);

// Background
$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);
$contrast-bg: darken($contrast, 20%);

$activelink: $primary;
$hoverlink: $primary-dark;

$default: #fff;
$body-bg: #ececec;

$default-text: #7a7a7a;
$content-text: #525252;
$help-text: #adadad;
$content-text-light: #bebebe;


$label-text: #fff;
$disabled: #ddd;
$disabled-bg: tint($disabled, 15%);
$border: #d6d6d6;
$border-light: tint($border, 15%);
$input-border: rgba(0, 0, 0, .15);
$input-background: #fff;
$dropdown-text: #7d7d7d;

// Login colors
$light-login-text: #535b61;
$light-login-bg: #f9f9f9;

// Sidebar
$sidebar-text: rgb(255, 255, 255);
$sidebar-bg: rgb(17, 76, 142);
$sidebar-selected: $contrast-darker;
$sidebar-text-selected: #ffffff;

$mail-box: #f5f5f5;
$auth-panel-background: #fff;
$progress-background: rgba(#000, .07);
$progress-default: rgba(#000, .15);

$bootstrap-panel-radius: 3px;
$bootstrap-panel-text: #7d7d7d;
$bootstrap-panel-bg: #fff;
$bootstrap-panel-header-bg: #ffd54f;
$bootstrap-panel-header-border: 1px solid rgba(0, 0, 0, .025);
$bootstrap-panel-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 500;
$font-ultraBold: 900;

@mixin body-bg {
  background-color: $body-bg;
}

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);
