<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a (click)="navigateHome()" href="#" class="logo">
      <img src="/assets/images/CombateCovid-19_Horizontal.png" alt="Combate Coronovírus" class="logo-coronavirus" />
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" (click)="changeTheme()">
      <nb-icon icon="adjust" pack="fa" title="Trocar tema"></nb-icon>
    </nb-action>
    <!-- <nb-action class="control-item" icon="bell-outline" title="Ver notificações"></nb-action> -->
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.nome"
               [picture]="user?.foto">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
