<div class="content-page">
    <nb-card>
        <nb-card-header>Ação Social</nb-card-header>
        <nb-card-body>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row full-name-inputs">
                                <div class="col-12">
                                    <label>Titulo:</label>
                                        <input formControlName="titulo" placeholder="Titulo" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row full-name-inputs">
                                <div class="col-12">
                                    <label>Descrição:</label>
                                        <input formControlName="descricao" placeholder="Descrição" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="row full-name-inputs">
                                <div class="col-sm-4">
                                    <label>Município:</label>
                                        <input formControlName="municipio" placeholder="Município" class="form-control" type="text">
                                </div>
                                <div class="col-sm-4">
                                    <label>Data de Início:</label>
                                        <input formControlName="data_inicio" placeholder="Data de Início" class="form-control" type="text">
                                </div>
                                <div class="col-sm-4">
                                    <label>Data de Encerramento:</label>
                                        <input formControlName="data_encerramento" placeholder="Data de Encerramento" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <div class="btn-toolbar float-right" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <button nbButton hero status="danger" (click)="cancel() " class="float-right">Cancelar</button>
                </div>
                <div class="btn-group mr-2" role="group" >
                    <button nbButton hero status="success"[disabled]="!form.valid " (click)="submit(form.value) " class="float-right"
                    type="submit">Salvar</button>
                </div>
              </div>
        </nb-card-body>
    </nb-card>
</div>
