<ul class="toolbox-options">
  <checkbox-item *ngFor="let item of options" [options]="options" [optionItem]="item" [checkListener]="checkListener"
    [colorListener]="colorListener" [extCheckListener]="extCheckListener" [disabled]="disabled">
  </checkbox-item>
</ul>