<div class="content-page">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-lg-6" style="display: inline; vertical-align: bottom;">
          <h6 style="line-height: 2.5rem;">LISTA DE USUÁRIOS</h6>
        </div>
        <div class="col-lg-6 text-right"></div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <p-table
        #dataTable
        [value]="collection"
        selectionMode="single"
        [rows]="dataTableConfig.rowsPerPage"
        [rowsPerPageOptions]="dataTableConfig.rowsPerPageOptions"
        [paginator]="true"
        [pageLinks]="dataTableConfig.maxPageLinks"
        [loading]="isLoading"
        [responsive]="true"
        [rowHover]="true"
        [sortField]="dataTableConfig.sortField"
        [sortOrder]="dataTableConfig.sortOrder"
        [lazy]="true"
        [totalRecords]="totalRecords"
        [first]="dataTableConfig.firstRow"
        (onSort)="sortColumn($event)"
        (onPage)="goToPage($event)"
        (onRowSelect)="onRowSelect($event.data)"
        [metaKeySelection]="false"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>E-mail</th>
            <th>Município</th>
            <th>Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>{{ rowData.nome }}</td>
            <td>{{ rowData.sobrenome }}</td>
            <td>{{ rowData.email }}</td>
            <td>{{ rowData.municipio.nome }}</td>
            <td>
              <button
                pButton
                type="button"
                class="ui-button-secondary"
                icon="pi pi-trash"
              ></button>
              <button
                (click)="onEditUsuario(rowData.id)"
                pButton
                type="button"
                class="ui-button-secondary"
                icon="pi pi-user-edit"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <ng-container>
            <tr>
              <td [attr.colspan]="4">
                {{ dataTableConfig.emptyMessage }}
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </nb-card-body>
  </nb-card>
</div>
