.toolbox-options-item {
  display: block;
    margin-bottom: 10px;
    padding-left: 20px;

  .custom-checkbox {
    & > span {
      line-height: 17px;
    }

    & > .checkbox-label {
      max-width:     100%;
      white-space:   nowrap;
      text-overflow: ellipsis;
      margin-bottom: 5px;

      & > .label-icon {
        position: relative;
        display: inline-block;
        width: auto;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;


        .icon {
          position: relative;
          z-index:  1;

          & > * {
            display:        inline-block;
            font-size:      17px;

          }
        }

        & > input {
          position: absolute;
          width:    100%;
          height:   100%;
          display:  block;
          top:      0;
          left:     0;
          opacity:  0;
          z-index:  50;

        }
      }

      & > .label-value {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 10);
        display: inline-block;
        line-height: 16px;
        padding-right: 20px;
      }

      & > .label-value:hover {
        color: #d9d9d9;
      }
    }

    & > input {
      & + .checkbox-label {
        // margin-left: -20px;

        .label-value {
          width: calc(100% - 10px);
        }
      }
    }
  }

  &.has-options {
    position: relative;

    & > .arrow {
      position:                absolute;
      top:                     0;
      left:                    0;
      display:                 block;
      width:                   16px;
      color:                   inherit;
      font-family:             "Ionicons";
      font-variant:            normal;
      font-size:               14px;
      font-style:              normal;
      font-weight:             normal;
      line-height:             16px;
      text-align:              center;
      text-rendering:          auto;
      text-transform:          none;
      -webkit-font-smoothing:  antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform:               rotate(0);
      transition:              all .25s ease-in-out;

      &::before {
        // content: "\f067";
        content: "\f2c7";
      }

      span {
        display: none;
      }
    }

    &.is-expanded {
      & > .arrow {
        transform: rotate(-360deg);

        &::before {
          content: "\f2f4";
        }
      }
    }

    .item-sublist {
      margin: 10px 0 0 0;
      padding:        0;
      padding-top:    0;
      padding-bottom: 1px;
      list-style:     none;
      display:        block;
    }

    .item-sublist-hidden {
      margin:         0;
      padding:        0;
      padding-top:    0;
      padding-bottom: 1px;
      list-style:     none;
      display:        none;
    }

  }
}

.light {
  .toolbox-options-item {
    .custom-checkbox {
      & > .checkbox-label {
        & > .label-value:hover {
          color: #000000;
        }
      }
    }
  }
}

label.checkbox.custom-checkbox {
  display: flex;
  align-items: baseline;
}
