<li class="toolbox-options-item"
  [ngClass]="{'has-options' : optionItem?.geocamadas_filhas.length > 0, 'is-expanded' : optionItem?.expanded}">
  <label class="checkbox custom-checkbox nowrap">
    <input *ngIf="optionItem?.geocamadas_filhas.length == 0" [disabled]="disabled" class="checkbox-input" type="checkbox"
      [value]="optionItem?.id" (click)="selectItem(optionItem)" [checked]="optionItem?.checked">
    <span class="checkbox-label">
      <span class="label-icon" *ngIf="optionItem?.icone">
        <span class="icon" [innerHTML]="optionItem?.icone" [style.color]="corIcone">
        </span>
        <input *ngIf="!!colorListener && optionItem && optionItem.id != 103" [(ngModel)]="optionItem.cor"
          (change)="onColorChange(optionItem, $event.target.value)"
          [style.cursor]="(optionItem && optionItem.nome_legivel != 'Marcos Quilométricos') ? 'context-menu' : 'hand'"
          [disabled]="disabled" type="color">
      </span>
      <span class="label-value" (click)="trataLabelClick($event, optionItem)">
        {{ optionItem?.nome_legivel }} {{ optionItem?.qtde > 0 ? '(' + optionItem?.qtde + ')' : '' }}
      </span>
    </span>
  </label>

  <a *ngIf="optionItem?.geocamadas_filhas.length > 0" href="#" class="arrow" (click)="toggleSubList($event, optionItem)">
    <span>Toggle Options</span>
  </a>

  <ul *ngIf="optionItem?.geocamadas_filhas.length > 0" id="{{optionItem?.id}}" [ngClass]="getClass(optionItem)">
    <checkbox-item *ngFor="let item of optionItem?.geocamadas_filhas" [options]="options" [optionItem]="item"
      [checkListener]="checkListener" [colorListener]="colorListener" [extCheckListener]="extCheckListener"
      [disabled]="disabled">
    </checkbox-item>
  </ul>
</li>