@import '../../../@theme/styles/themes';

@include nb-install-component() {
	.accordion-container:first-child {
		margin-bottom: nb-theme(card-margin-bottom);
	}

	.faq-link {
		text-align: right;
	}

	.content-page {
		padding: 16px;
	}
}