<div class="content-page">
  <nb-card>
    <nb-card-header class="text-center"
      >FAQ - Perguntas Frequentes</nb-card-header
    >
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>
            O que é coronavírus? (COVID-19)
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Coronavírus é uma família de vírus que causam infecções
            respiratórias. O novo agente do coronavírus foi descoberto em
            31/12/19 após casos registrados na China. Provoca a doença chamada
            de coronavírus (COVID-19). Os primeiros coronavírus humanos foram
            isolados pela primeira vez em 1937. No entanto, foi em 1965 que o
            vírus foi descrito como coronavírus, em decorrência do perfil na
            microscopia, parecendo uma coroa. A maioria das pessoas se infecta
            com os coronavírus comuns ao longo da vida, sendo as crianças
            pequenas mais propensas a se infectarem com o tipo mais comum do
            vírus. Os coronavírus mais comuns que infectam humanos são o alpha
            coronavírus 229E e NL63 e beta coronavírus OC43, HKU1…
            <br />
            <br />
            <div class="faq-link">
              <a target="_blank" href="https://coronavirus.saude.gov.br"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Como prevenir o contágio?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            - Lave as mãos com água e sabão ou use álcool em gel.<br />
            - Cubra o nariz e boca ao espirrar ou tossir.<br />
            - Evite aglomerações se estiver doente.<br />
            - Mantenha os ambientes bem ventilados.<br />
            - Não compartilhe objetos pessoais.<br />
            <br />
            <br />
            <div class="faq-link">
              <a target="_blank" href="https://coronavirus.saude.gov.br"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Quais são os sintomas apresentados por uma pessoa que foi infectada
            com um coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Depende do vírus, mas os sinais comuns incluem sintomas
            respiratórios, febre, tosse, falta de ar e dificuldades
            respiratórias. Em casos mais graves, a infecção pode causar
            pneumonia, síndrome respiratória aguda grave, insuficiência renal e
            até a morte.
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://www.ladoaladopelavida.org.br/detalhe-noticia-ser-informacao/oms-perguntas-e-respostas-sobre-o-coronavirus"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Como é a transmissão?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Por meio de três formas:<br />
            - Por vias respiratórias, pelo ar e por gotículas provenientes de
            espirros e da fala de indivíduos infectados;<br />
            - Por contato físico, quando essas gotículas com o vírus alcançam
            mucosas do olho, nariz e boca por meio de beijos e abraços;<br />
            - Por meio do contato de superfícies contaminadas, quando essas
            gotículas com o vírus ficam depositadas em locais como um corrimão
            ou uma maçaneta, e depois entram em contato com mucosas do olho,
            nariz e boca.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Existe uma vacina para um novo coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Não. Quando uma doença surge, não existe vacina até que uma possa
            ser desenvolvida após testes em laboratório. Segundo a OMS, este
            processo pode levar alguns anos.
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://www.ladoaladopelavida.org.br/detalhe-noticia-ser-informacao/oms-perguntas-e-respostas-sobre-o-coronavirus"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Existe tratamento para um novo coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            A OMS afirma que não há tratamento específico para a doença causada
            por um novo coronavírus. No entanto, muitos dos sintomas podem ser
            tratados e, portanto, o tratamento tem como base a condição clínica
            do paciente. Além disso, os cuidados de apoio às pessoas infectadas
            podem ser altamente eficazes.
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://www.ladoaladopelavida.org.br/detalhe-noticia-ser-informacao/oms-perguntas-e-respostas-sobre-o-coronavirus"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Que produtos de limpeza matam o coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            O novo coronavírus pode ser morto por produtos de limpeza
            desinfetantes de fácil acesso, como álcool 70%, água sanitária e até
            com a combinação de água e sabão.<br />
            "O vírus possui uma cápsula de gordura protetora, e a limpeza com
            estes produtos retira essa cápsula e mata o vírus", afirma Wladimir
            Queiroz, infectologista do Instituto de Infectologia Emílio Ribas,
            especialista em doenças infecciosas e parasitárias e membro da
            Sociedade Brasileira de Infectologia. A boa notícia é que o
            coronavírus "não é um vírus muito complicado de matar, pois ele não
            é resistente no ambiente", afirma Rosana Richtmann, infectologista
            do Instituto de Infectologia Emílio Ribas, em São Paulo.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            É possível ser infectado mais de uma vez por coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Os cientistas ainda não têm essa resposta de forma concreta. Há
            notícia de pelo menos um caso de uma mulher no Japão que testou
            positivo para o novo coronavírus pela segunda vez quase um mês após
            ter recebido alta do hospital. Também houve outro caso na Itália,
            onde o primeiro paciente de coronavírus da cidade de Turim voltou a
            ter diagnóstico positivo para Covid-19 depois de ter sido liberado
            de um hospital com um resultado negativo para o vírus. Infecções
            reincidentes também foram relatadas na China, onde a doença se
            originou no fim de 2019.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Qual a taxa de letalidade do coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Até 12 de março, o novo coronavírus apresentava uma taxa média de
            letalidade de 3,6% até esta quinta-feira (12). Na China, o índice
            era de 3,9%, e, fora dela, 3,2%. A variação entre países pode ir de
            0% a 6,6%, de acordo com dados da Organização Mundial da Saúde
            (OMS).<br />
            A taxa de letalidade entre idosos acima de 80 anos pode passar de
            15%, e entre os jovens é menor que 0,5%.<br />
            O vírus, até 12 de março, matava mais que o da gripe (Influenza),
            mas menos do que o de outros integrantes da família coronavírus
            (Sars e Mers). Os especialistas entrevistados pelo G1 dizem que
            ainda é cedo para cravar um número sobre a letalidade da doença
            Covid-19.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Estou com suspeita de infecção por coronavírus. Como devo proceder?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            A recomendação do Ministério da Saúde é para que pessoas com
            sintomas gripais permaneçam em casa e em isolamento social por sete
            dias. Se os sintomas se agravarem nesse período, e a pessoa
            apresentar tosse seca e falta de ar, a recomendação é para procurar
            um posto de saúde ou consultório médico para avaliação clínica.<br />
            O ministério ressalta que as pessoas podem ou apresentar ou não
            febre. O hospital deve ser a última alternativa, quando o caso
            estiver mais grave.<br />
            A pessoa que não passar pelo teste para confirmar se contraiu ou não
            o novo coronavírus mas apresentar os sintomas deve permanecer em
            casa e em isolamento social por sete dias e não sair em hipótese
            alguma.<br />
            Se os sintomas não melhorarem em sete dias, o isolamento deve ser
            prorrogado por mais sete dias. O uso da máscara em pessoas com
            Covid-19 não impede a transmissão do vírus, ressalta o
            ministério.<br />
            O isolamento social e domiciliar visam minimizar a transmissão da
            coronavírus.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Qual é o tempo de incubação do novo coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            O "período de incubação" significa o tempo entre a captura do vírus
            pelo ser humano e o início dos sintomas da doença.<br />
            De acordo com a Organização Mundial da Saúde (OMS), a maioria das
            estimativas do período de incubação do Covid-19 varia de 1 a 14
            dias, geralmente em torno de 5 dias.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Quanto tempo o novo coronavírus sobrevive em uma superfície ou no
            ar?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Um estudo publicado na revista científica "New England Journal of
            Medicine" em 17 de março afirma que o coronavírus consegue
            sobreviver até 3 dias em algumas superfícies, como plástico ou aço.
            Já em papelão, o vírus pode ficar por até 24 horas, enquanto na
            superfície de cobre dura 4 horas e em poeiras, 1,1 hora
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Posso fazer um exame para saber se tenho o novo coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Alguns hospitais e clínicas particulares oferecem testes que podem
            ser realizados por cerca de R$ 140. De acordo com os especialistas
            ouvidos pelo G1, é preciso apresentar os sintomas e passar por uma
            avaliação médica – uma medida para não sobrecarregar o atendimento.
            O resultado sai em 48 horas.<br />
            No caso do sistema público de saúde, um paciente que irá até uma
            unidade básica ou hospital também deverá apresentar os sintomas e
            ter tido um possível contato com o vírus – seja viajando para países
            com casos confirmados ou chegando perto de pessoas que tiveram a
            doença.<br />
            No entanto, o Ministério da Saúde recomendou que os testes só podem
            ser realizados em casos mais graves, contrariando a recomendação da
            OMS para a realização de testes em massa.<br />
            A medida busca economizar testes para que sejam garantidos para as
            pessoas com complicações. O governo disse ter comprado kits da
            Fiocruz para 30 mil testes nos laboratórios públicos do Brasil. A
            produção atual do Instituto Bio-Manguinhos é de 3,5 mil a 4 mil
            testes.<br />
            Para que o exame seja feito, é preciso o encaminhamento de um médico
            para garantir que pacientes do sistema público de saúde com risco
            real da doença consigam ser atendidos. Uma coleta de materiais
            respiratórios é feita para gerar duas amostras. Elas são
            encaminhadas para o Laboratório Central de Saúde Pública (Lacen).<br />
            Depois de as amostras terem sido testadas para outras doenças que já
            circulam no Brasil, elas podem ser submetidas ao exame específico
            para detectar o RNA viral (código genético) do novo coronavírus.<br />
            O Ministério da Saúde anunciou em 18 de março que todos os
            laboratórios públicos do país, nos 26 estados e do Distrito Federal,
            podem realizar exame para o covid-19. No mesmo dia, a Agência
            Nacional de Vigilância Sanitária (Anvisa) aprovou oito novos testes
            de coronavírus. Os produtos são para uso profissional durante a
            triagem e o diagnóstico da doença.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Quem precisa ficar em isolamento domiciliar?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Segundo o Ministério da Saúde, os casos suspeitos leves podem não
            necessitar de hospitalização e devem ser acompanhados pela atenção
            primária com medidas de precaução domiciliar.<br />
            Leonardo Weissmann, médico infectologista, afirma que nos casos
            leves é possível a adoção de medidas restritivas individuais de
            isolamento e quarentena domiciliar, com restrição de contatos com
            pessoas e ambientes externos.<br />
            O Hospital Albert Einstein diz que o isolamento domiciliar é
            indicado para casos suspeitos ou confirmados que não forem
            classificados como graves; para pacientes com sintomas que estiveram
            na China, Coreia do Sul, Irã ou Itália; e para pacientes sem
            sintomas, mas que tiveram ou mantém contato com alguém que tenha o
            diagnostico confirmado.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Coronavírus pode ser transmitido por pacientes assintomáticos?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            De acordo com a Organização Mundial de Saúde (OMS), a transmissão de
            uma pessoa assintomática é rara. O modo de contágio mais comum é por
            meio de pacientes que apresentam os sintomas de Covid-19.<br />
            Segundo o Ministério da Saúde, casos assintomáticos e durante o
            período de incubação não são contagiosos. No entanto, o próprio
            ministério informa que há dados que sugerem que a transmissão pode
            ocorrer mesmo sem o aparecimento de sinais e sintomas.<br />
            O ministério destaca, ainda, que é possível haver transmissão por
            quem apresentou sintomas mesmo após eles já terem acabado. O período
            de transmissibilidade, nesse último caso, ainda é desconhecido.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            O que é transmissão local, comunitária ou sustentada do coronavírus?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Dezenas de países já registraram casos de coronavírus, em cinco
            continentes, exceto na Antártica. Entretanto, ter casos de
            coronavírus não quer dizer que toda a população será infectada, ou
            que todos os infectados terão casos graves da doença.<br />
            Para entender a agressividade do vírus em cada nação, é preciso
            olhar o status de transmissão do Sars-CoV-2, o novo coronavírus que
            causa a Covid-19, que varia de país para país.<br />
            Transmissão local: São casos de pessoas que se infectaram com
            Covid-19, não estiveram em nenhum país com registro da doença, mas
            tiveram contato com outro paciente infectado, que trouxe o vírus de
            fora do país. Há casos assim no Brasil.<br />
            Transmissão sustentada ou comunitária: São casos de transmissão do
            vírus entre a população – um paciente infectado que não esteve nos
            países com registro da doença transmite a doença para outra pessoa,
            que também não viajou.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Quanto tempo deve durar a quarentena?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            O Ministério da Saúde publicou uma portaria em 12 de março que
            define como será feita quarentena. A medida, que precisa ser
            determinada por ato administrativo formal de uma autoridade pública,
            pode ser adotada por até 40 dias e pode se estender pelo tempo
            necessário para reduzir a transmissão comunitária e garantir a
            manutenção dos serviços de saúde.<br />
            Segundo a portaria, a quarentena é a "restrição de atividades ou
            separação de pessoas suspeitas de contaminação das pessoas que não
            estejam doentes, ou de bagagens, contêineres, animais, meios de
            transporte ou mercadorias suspeitos de contaminação, de maneira a
            evitar a possível contaminação ou a propagação do coronavírus".<br />
            Ao contrário do isolamento, que é a separação de pessoas doentes ou
            contaminadas — ou de bagagens, meios de transporte, mercadorias ou
            encomendas postais afetadas — e pode durar até 14 dias, a quarentena
            é uma restrição à circulação em um lugar, como um bairro, um
            hospital ou um hotel.<br />
            <br />
            <br />
            <div class="faq-link">
              <a
                target="_blank"
                href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/02/27/coronavirus-veja-perguntas-e-respostas.ghtml"
                >fonte de dados</a
              >
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
</div>
