<div class="content-page">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>
            <i class="fas fa-history"></i> Dashboard - Atualizado em
            {{ data_atualizada | date: "dd/MM/yyyy HH:mm:ss" }}
            (<span
              *ngIf="timestampDataAtualizada > 0"
              timeago
              [date]="timestampDataAtualizada"
              [live]="true"
            ></span
            >)
          </h6>
        </nb-card-header>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>Atualizações na Região Administrativa de Bauru</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div *ngFor="let municipio of boletins" class="col-xl-4 soma-form">
              <div
                [ngClass]="{
                  'boletim-not-found': municipio.timestamp < 0,
                  'boletim-atraso':
                    moment
                      .duration(moment().diff(municipio?.created_at))
                      .asHours() > 24
                      ? true
                      : false
                }"
              >
                <i class="fas fa-clock"></i> {{ municipio.nome }}
                {{ municipio?.created_at | date: "dd/MM/yyyy HH:mm:ss" }}
                (<span *ngIf="municipio.timestamp < 0">sem informação</span>
                <strong
                  *ngIf="municipio.timestamp > 0"
                  timeago
                  [date]="municipio.timestamp"
                  [live]="true"
                ></strong
                >)
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row" *ngIf="calculoMunicipal.length > 0">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>Cenário Municipal</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-12">
              <ngx-charts-number-card
                [scheme]="totalizadoresPercentuaisScheme"
                [results]="calculoMunicipal[0]"
              >
              </ngx-charts-number-card>
            </div>

            <div class="col-lg-12">
              <ngx-charts-number-card
                [scheme]="totalizadoresPercentuaisScheme"
                [results]="calculoMunicipal[1]"
              >
              </ngx-charts-number-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>Cenário Regional</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <ngx-charts-number-card
              [scheme]="totalizadoresPercentuaisScheme"
              [results]="calculoRegional"
            >
            </ngx-charts-number-card>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row" *ngIf="calculoIprRegional.length > 0">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>IPR Regional</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-12">
              <ngx-charts-number-card
                [scheme]="totalizadoresPercentuaisScheme"
                [results]="calculoIprRegional[0]"
              >
              </ngx-charts-number-card>
            </div>

            <div class="col-lg-12">
              <ngx-charts-number-card
                [scheme]="totalizadoresPercentuaisScheme"
                [results]="calculoIprRegional[1]"
              >
              </ngx-charts-number-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <ngx-charts-number-card
      [scheme]="totalizadoresAbsolutosScheme"
      [cardColor]="'#FFFFFF'"
      [results]="totalizadoresAbsolutos"
    >
    </ngx-charts-number-card>
  </div>

  <div class="row">
    <ngx-charts-number-card
      [scheme]="totalizadoresPercentuaisScheme"
      [results]="totalizadoresPercentuais"
      [valueFormatting]="symbolFormatting"
      [animations]="false"
    >
    </ngx-charts-number-card>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>Evolução das notificações por dia</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="chart-height">
            <ngx-charts-bar-vertical-stacked
              [results]="evolucaoNotificacoes"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [legendTitle]="'Tipo da síndrome'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Data da notificação'"
              [yAxisLabel]="'N.º de notificações'"
            >
            </ngx-charts-bar-vertical-stacked>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>
          <h6>Condição do paciente</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="chart-height">
            <ngx-charts-pie-chart
              [scheme]="condicoesPacienteScheme"
              [results]="condicaoPacienteTotal"
              [gradient]="true"
              [legend]="true"
              [legendTitle]="'Condições'"
              [labels]="false"
              [trimLabels]="true"
              [maxLabelLength]="50"
            >
            </ngx-charts-pie-chart>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>
          <h6>Evolução da condição do paciente</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="chart-height">
            <ngx-charts-line-chart
              [scheme]="condicoesPacienteScheme"
              [results]="evolucaoCondicaoPaciente"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [legendTitle]="'Condições'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Data'"
              [yAxisLabel]="'N.º de pacientes'"
            >
            </ngx-charts-line-chart>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>Evolução dos casos</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="chart-height">
            <ngx-charts-line-chart
              [scheme]="totalizadoresAbsolutosScheme"
              [results]="evolucaoCasos"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [legendTitle]="'Casos'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Data'"
              [yAxisLabel]="'N.º de casos'"
            >
            </ngx-charts-line-chart>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h6>Óbitos por faixa etária</h6>
        </nb-card-header>
        <nb-card-body>
          <div class="chart-height">
            <ngx-charts-bar-horizontal
              [results]="obitosFaixaEtaria"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [legendTitle]="'Faixas etárias'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'N.º de óbitos'"
              [yAxisLabel]="'Faixa etária'"
            >
            </ngx-charts-bar-horizontal>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
