@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  .content-page {
    padding: 16px;
  }
}

.chart-height {
    height: 300px;
  }

.boletim-atraso {
  color:red;
}

.boletim-not-found {
  color: #c8c8c8
}

::ng-deep {

  ngx-charts-pie-chart ngx-charts-chart {

    .ngx-charts-outer {
      display: flex;
      width: 100% !important;

      >svg {
        width: calc(100% - 160px) !important;
        overflow: visible;

        .pie-chart.chart {
          transform: translate(50%, 50%) !important;
          display: block;
          margin: 0 auto;
        }
      }

      ngx-charts-legend.chart-legend > div {
        width: 160px !important;
      }
    }

  }

}
